{% extends "appstore/appstore_base.html" %}
{% load hq_shared_tags %}
{% load hqstyle_tags %}
{% load i18n %}

{% block head %}{{ block.super }}
    <style type="text/css">
        #video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16/9 ratio */
            height: 0;
            overflow: hidden;
            margin-bottom: 1em;
        }

        #video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
{%  endblock %}

{% block js-inline %}{{ block.super }}
    <script>
        function update_import_into_button() {
            var project = $('#project_select option:selected').text();
            $("#import-into-button").text("Import into " + project);
        }
        $(function () {
            update_import_into_button();

            $("#import-app-button").click(function() {
                $('#import-app').show(500);
            });

            $('#project_select').change(update_import_into_button);
        });

        // remove gray sidebar
        $(function () {
            $('.hq-double-col').removeClass('hq-double-col');
        });

        $(function() {
            $('[data-target="#licenseAgreement"]').click(function() {
                var new_form = $(this).attr('data-form');
                $('#agree-button').attr('data-form', new_form);
            });
            $('#agree-button').click(function() {
                $('#download-new-project').removeAttr('data-toggle');
                $('#download-new-project').removeAttr('href');
                $('#import-into-button').removeAttr('data-toggle');
                $('#import-into-button').removeAttr('href');
                var form = $("#" + $(this).attr('data-form'));
                form.submit();
            });

            // show downloads info div
            $('#downloads-btn').click(function() {
                var open =  $(this).attr('data-open') == 'true';
                if (open) {
                    $('#downloads-info').hide(500);
                    $(this).attr('data-open', 'false');
                    $("#downloads-btn-append").text('>>');
                } else {
                    $('#downloads-info').show(500);
                    $(this).attr('data-open', 'true');
                    $("#downloads-btn-append").text('<<');
                }
            });
        });

        $('#download-new-project').click(function() {
            ga_track_event('Exchange', 'Download As New Project', '{{ project }}');
        });

        $('#import-app-button').click(function() {
            ga_track_event('Exchange', 'Download to Existing Project', '{{ project }}');
        });
    </script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
<li>{{ project.title }}</li>
{% endblock %}

{% block main_column %}

<div class="container-fluid">
<div class="page-header row-fluid" style="border-bottom: 0; margin-bottom: 0;">
    <div class="span2" style="text-align: center;">
        {% if project.image_path %}
            <img class="app-pic" src="{% url "appstore_project_image" project.get_id %}" />
        {% else %}
            <img class="app-pic opacity65" src="{% static 'hqstyle/img/commcarehq-icon-large.png' %}" />
        {% endif %}
    </div>
    <div class="span7">
        <h1>
            {{ project.title }}
            <small>{% trans "by" %}
                {% ifequal project.publisher 'organization' %}
{#                <a href="{% url "orgs_public" project.organization %}">#}
                    {{ project.get_organization.title }}
{#                </a>#}
                {% else %}
                    {{ project.author|default:project.name_of_publisher|default:"*Publisher's name*" }}
                {% endifequal %}
            </small>
        </h1>
        <h4 style="color: #808080;">{{ project.short_description }}</h4>
    <br/>
    </div>
</div>
</div>

<div class="row">
<div class="span10">
<dl class="dl-horizontal">
    {% if project.yt_id %}
        <dt>{% trans 'Video' %}</dt>
        <dd id="video-container">
            <iframe id="yt-video"
                    src="https://www.youtube.com/embed/{{ project.yt_id }}"
                    frameborder="0"
                    height="100%"
                    width="100%"
                    webkitAllowFullScreen mozallowfullscreen allowFullScreen>
            </iframe>
        </dd>
    {% endif %}
    <dt>{% trans 'Description' %}</dt>
    <dd>
        {% if project.description %}
            {{ project.description|linebreaks }}
        {% else %}
            <h6>{% trans "None" %}</h6>
        {% endif %}
    </dd>
    <dt>{% trans 'Category' %}</dt>
    <dd>
        {% if project.project_type %}
            {{ project.project_type }}
        {% else %}
            <h6>{% trans "None" %}</h6>
        {% endif %}
    </dd>
    {% if request.couch_user.is_superuser %}
        <dt> {% trans 'Published by' %}</dt>
        <dd>
            {% if project.published_by %}
                {{ project.published_by.username }}
            {% else %}
                No Data
            {% endif %}
        </dd>
    {% endif %}
    <dt> {% trans 'Published on' %}</dt>
    <dd>
        {{ project.snapshot_time|date:"N j, Y" }}
    </dd>
    <dt>{% trans 'Languages' %}</dt>
    <dd>
        {% if project.languages %}
            {{ project.readable_languages }}
        {% else %}
            {% trans "None" %}
        {% endif %}
    </dd>
    <dt>{% trans 'License' %}</dt>
    <dd>{{ project.get_license_display }}</dd>
    <dt>{% trans 'Downloads' %}</dt>
    <dd>
        <!-- This version: -->
        {% if project.copies and request.couch_user.is_superuser %}
            <button class="btn btn-mini btn-info" data-open='false' id="downloads-btn">
                {{ project.download_count }} {% trans "Downloads" %} <span id="downloads-btn-append">>></span>
            </button>
            <div style="margin-top: 1em;" class="well well-small hide" id="downloads-info">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Note:</strong> <p>This a beta feature displayed to super users only</p>
                    <p>Currently this list only shows new projects that were copied directly from this publication.
                    It does not yet show projects who downloaded apps from this publication.</p>
                    <p>We also don't have 'Downloaded By' data for many existing domains.</p>
                </div>

                {% if copies %}
                <table class="table">
                    <tr><th style="border-top: 0;">{% trans "Project" %}</th>
                        <th style="border-top: 0;">{% trans "Downloaded by" %}</th></tr>
                    {% for copy in copies %}
                        <tr>
                            <td>{{ copy.display_name }}</td>
                            <td>{{ copy.creating_user|default:"No data" }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    {% trans "No Downloads Information" %}
                {% endif %}
            </div>
        {% else %}
            {{ project.copied_from.total_downloads }}
        {% endif %}
    </dd>

    {% if request|toggle_enabled:"DOCUMENTATION_FILE" %}
        {% if project.documentation_file_path %}
            <dt>{% trans 'Project Documentation' %}</dt>
            <dd>
                <a href="{% url "appstore_project_documentation_file" project.get_id %}" 
                    download="{{ project.documentation_file_path }}">
                    {{ project.documentation_file_path }}
                </a>
            </dd>
        {% endif %}
    {% endif %}
    {% if project.multimedia_included and project.has_media %}
        <dd>
            <a class="btn" style="margin-top: .4em" href="{% url "media_files" project %}">{% trans "Browse Multimedia" %}</a>
        </dd>
    {% endif %}
</dl>
<hr />
    <div id="application-accordion">
        {% for app in applications %}
            <div id="application-{{ app.id }}">
                <dl class="dl-horizontal">
                    <dt>
                        <h4 style="display: inline-block;">Application</h4>
                    </dt>
                    <dd>
                        <h4 style="display: inline-block;">{{ app.name }}</h4>
                   </dd>
                    <dt>{% trans 'Media' %}</dt>
                    <dd>
                        {{ app.has_media|yesno:"Yes,No" }}
                    </dd>
                    <dt>CommCare</dt>
                    <dd>
                        {% trans "Version" %} {{ app.application_version }}
                    </dd>
                    {% if app.user_type %}
                        <dt>{% trans 'User type' %}</dt>
                        <dd>{{ app.user_type }}</dd>
                    {% endif %}
                    {% if app.phone_model %}
                        <dt>{% trans 'Phone model' %}</dt>
                        <dd>{{ app.phone_model }}</dd>
                    {% endif %}
                    {% if app.description %}
                        <dt>{% trans 'Description' %}</dt>
                        <dd>
                            {{ app.description|linebreaks }}
                        </dd>
                    {% endif %}
                    {% if app.attribution_notes %}
                        <dt>{% trans 'Attribution notes' %}</dt>
                        <dd>{{ app.attribution_notes }}</dd>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
    </div>
    <div id="fixtures-accordion">
        {% for fixture in fixtures %}
            <div id="fixtures-{{ fixture.id }}">
                <dl class="dl-horizontal">
                    <dt>
                        <h4 style="display: inline-block;">Lookup Table</h4>
                    </dt>
                    <dd>
                        <h4 style="display: inline-block;">{{ fixture.tag }}</h4>
                    </dd>
                    {% if fixture.description %}
                        <dt>{% trans 'Description' %}</dt>
                        <dd>
                            {{ fixture.description|linebreaks }}
                        </dd>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
        {% if fixtures %}
            <div class='alert alert-warning'>
                Lookup Tables are not supported on our Community plan.
                <a href="http://www.commcarehq.org/software-plans/">Learn more
                    about our pricing plans here</a>
            </div>
        {% endif %}
    </div>
    <div>
    {% if applications %}
        <form id="new-project-form" method="post" class="form-inline" action="{% url "domain_copy_snapshot" project %}">
            <fieldset>
                <legend>{% trans "Download" %}</legend>
                {% if request.couch_user %}
                    {% if request.couch_user.is_commcare_user %}
                        {% trans "You are currently logged in as a CloudCare user. Please sign out and login as a normal user to download apps" %}
                    {% else %}
                    <div{% if error_message %} class="error"{% endif %}>
                        <input type="text" class="span3" id="new_project_name"
                               name="new_project_name" value="{{ new_project_name }}" placeholder="{% trans 'New project name' %}">
                        {% if error_message %}
                            <span class="help-inline">{{ error_message }}</span>
                        {% endif %}
                        <a class="btn btn-primary disable-on-submit"
                           data-form="new-project-form"
                           data-toggle="modal"
                           data-target="#licenseAgreement"
                           href="#licenseAgreement"
                           id="download-new-project"
                        >
                            {% trans "Download As New Project" %}
                        </a>
                        {% if display_import %}
                            {% trans "or" %}
                            <a class="btn"
                               id="import-app-button"
                            >
                                {% trans "Download to Existing Project" %}
                            </a>
                        {% endif %}
                    </div>
                    {% endif %}
                {% else %}
                    {% url "login" DOMAIN_TYPE as login_url %}
                    {% url "register_user" DOMAIN_TYPE as register_url %}
                    {% blocktrans %}
                        Please <a href="{{ login_url }}">sign in</a>
                        or <a href="{{ register_url }}">register</a>
                        to download an app from Exchange
                    {% endblocktrans %}
                {% endif %}
            </fieldset>
        </form>
        <form id="import-form" method="post" class="form-inline" action="{% url "import_app_from_snapshot" project %}">
            <div class="hide" id="import-app">
                <select name="project" id="project_select">
                    {% for p in request.couch_user.projects %}
                        <option value="{{ p.name }}">{{ p.display_name }}</option>
                    {% endfor %}
                </select>
                <a class="btn btn-primary" id="import-into-button" data-form="import-form" data-toggle="modal" data-target="#licenseAgreement" href="#licenseAgreement">Import into</a>
            </div>
        </form>
    {% else %}
        <p>{% trans "No applications available." %}</p>
    {% endif %}
    </div>

    <hr/>
</div>
</div>
{% endblock %}


{% block modals %}{{ block.super }}
<div class="modal hide fade" id="licenseAgreement">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4>{% trans "You're about to download " %}{{ project.title }}</h4>
    </div>
    <div class="modal-body">
        {{ project.title }} {% trans 'is licensed under ' %}<a target="_blank" href="http://creativecommons.org/licenses/#licenses">{{ project.get_license_display }}</a>
        {% if project.multimedia_included and project.has_media %}
            <br /><br />
            {% trans "Please view the" %} <a target="_blank" href="{% url "media_files" project %}">{% trans "licenses for this app's media files" %}</a>
        {% endif %}
    </div>
    <div class="modal-footer">
        <div style="text-align: left; line-height: 2em;">
            {% trans "I have read and agree to the terms of this license." %}
        </div>
        <a id="agree-button" data-dismiss="modal" data-form="" href="#" class="btn btn-primary">{% trans "Agree" %}</a>
        <a href="#" data-dismiss="modal" class="btn">{% trans "Disagree" %}</a>
    </div>
</div>
{% endblock %}

