{% load i18n %}
{% load hq_shared_tags %}

<div>
    <table class="table table-condensed">
        <thead data-bind="visible: columns().length > 0">
            <tr tabindex="999" data-bind="paste: function (data) { pasteCallback(data, 0); }">
                <th></th>
                <th data-bind="text: DetailScreenConfig.message.FIELD"></th>
                <th data-bind="text: DetailScreenConfig.message.HEADER"></th>
                <th data-bind="text: DetailScreenConfig.message.FORMAT"></th>
                <!-- ko if: useCaseTiles() == "yes" && {{request|toggle_enabled:'CASE_LIST_TILE'|BOOL }}-->
                <th>{% trans "Case Tile Mapping" %}</th>
                <!-- /ko -->
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="sortable: {
            data: columns,
            afterAdd: function (elem) { $(elem).hide().fadeIn() },
            beforeRemove: function (elem) { $(elem).fadeOut() }
        }"
        {# there must be no whitespace between <tbody> and <tr> #}
        {# the .hide().fadeIn() will fail badly on FireFox #}
        ><tr data-bind="
                css: {info: $data.isTab},
                attr: {'data-order': _sortableOrder, 'tabindex': 1000 + $index()},
                copy: function () { return copyCallback(); },
                paste: function (data) { $parent.pasteCallback(data, $index() + 1); }
        ">
            <td data-bind="visible: $root.edit">
                <span class="sort-disabled" data-bind="ifnot: grip"></span>
                <i class="grip sortable-handle" data-bind="
                    if: grip,
                    css: COMMCAREHQ.icons.GRIP,
                    style: {cursor: 'move'},
                    event: {mousedown: function(){ $(':focus').blur(); }}
                "></i>
            </td>
                <!--ko if: !isTab -->
                    <td class="control-group"
                        data-bind="css: {error: showWarning}">
                        <div data-bind="html: CC_DETAIL_SCREEN.getFieldHtml(field.val()), visible: !field.edit"></div>
                        <div data-bind="jqueryElement: field.ui, visible: field.edit"></div>
                        <div data-bind="visible: showWarning">
                            <span class="help-inline" data-bind="
                                text: DetailScreenConfig.field_format_warning_message
                            ">
                            </span>
                        </div>
                    </td>
                    <td data-bind="jqueryElement: header.ui"></td>
                    <td data-bind="jqueryElement: $format"></td>
                <!--/ko-->
                <!--ko if: isTab -->
                    <td colspan="3" data-bind="jqueryElement: header.ui"></td>
                <!--/ko-->
                <!-- ko if: $parent.useCaseTiles() == "yes" && {{request|toggle_enabled:'CASE_LIST_TILE'|BOOL }}-->
                <td>
                    <select data-bind="value: case_tile_field">
                        <option value=""></option>
                        <option value="header">header</option>
                        <option value="top_left">top_left</option>
                        <option value="bottom_left">bottom_left</option>
                        <option value="sex">sex</option>
                        <option value="date">date</option>
                    </select>
                </td>
                <!-- /ko -->
                <td>
                    <i style="cursor: pointer;"
                       data-bind="
                        visible: $root.edit && ($parent.columns().length > 1 || $parent.allowsEmptyColumns),
                        click: function(){screen.columns.remove($data);},
                        css: COMMCAREHQ.icons.DELETE,
                        attr: {title: DetailScreenConfig.message.DELETE_COLUMN}
                    "></i>
                </td>
            {# there must be no whitespace between <tbody> and <tr> #}
            {# the .hide().fadeIn() will fail badly on FireFox #}
            </tr></tbody>
        <tbody data-bind="visible: columns().length > 0">
            <tr>
                <td></td>
                <td colspan="4">
                    {% include "app_manager/partials/add_property_button.html" %}
                </td>
            </tr>
        </tbody>
    </table>
    <div data-bind="visible: columns().length == 0">
        {% include "app_manager/partials/add_property_button.html" %}
    </div>
</div>
