{% load i18n %}
{% load hq_shared_tags %}

{% if detail.type == 'case' %}
<div class="alert alert-warning" data-bind="visible: !contextVariables.requires_case_details()">
    {% blocktrans %}
        This module doesn't currently use a case list.
        Changes made here will have no effect until you use:
        <ol>
            <li>forms that require a case or</li>
            <li>select the <strong>Case List Menu Item</strong> setting.</li>
        </ol>
    {% endblocktrans %}
</div>
{% endif %}
<div data-bind="saveButton: shortScreen.saveButton, visible: $root.edit"></div>
<div data-bind="with: customXMLViewModel">
    <div data-bind="visible: enabled">
        <legend>{% trans "Custom Case List XML" %}</legend>
        <textarea class="span6" data-bind="value: xml"></textarea>
    </div>
</div>
<legend>
    {% trans "Display Properties" %}
</legend>

<div data-bind="with: shortScreen">
    {% if request|toggle_enabled:'CASE_LIST_TILE' %}
    <select data-bind="value: useCaseTiles">
        <option value="no">Don't Use Case Tiles</option>
        <option value="yes">Use Case Tiles</option>
    </select>
    {% endif %}
    <div data-bind="visible: useCaseTiles() == 'yes' || window.toggles.CASE_LIST_CUSTOM_XML">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: persistTileOnForms">
            Use this case list tile persistently in forms
        </label>
        <label class="checkbox" data-bind="visible: persistTileOnForms()">
            <input type="checkbox" data-bind="checked: enableTilePullDown">
            Embed case details in case tile pull-down
        </label>
    </div>
    {% include 'app_manager/partials/case_list_properties.html' %}
</div>

<legend>
    {% trans "Filtering and Sorting" %}
</legend>

<div data-bind="with: filter">

    <div class="control-group">
        <button class="btn btn-small" data-bind="visible: !showing(), click: function(data){data.showing(true);}">
            <i class="icon icon-plus"></i>
            {% trans "Add filter" %}
        </button>
    </div>

    <div data-bind="visible: showing">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">
                    {% trans "Filter" %}
                    <span class="hq-help-template"
                        data-title="{% trans "Filter" %}"
                        data-content=
                        "{% blocktrans %}
                            This XPath expression specifies which cases
                            should appear in the case list. It can refer to
                            any case properties and should return true if a
                            record should be shown and false otherwise. The
                            same functions are available as when writing
                            Display or Validation conditions. Refer to case
                            properties using their name (there's no need to
                            include a &quot;/data/&quot; in front of the
                            case property).
                        {% endblocktrans %}"
                    ></span>
                </label>
                <div class="controls">
                    <input type="text" placeholder="Filter expression" class="ui-autocomplete-input"
                           data-bind="value: filterText"
                    >
                    <a data-bind="click: function(data){showing(false);}">
                        <i class="icon-remove icon-blue"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

</div>

<div data-bind="with: sortRows">
{% if app.enable_multi_sort %}

    <div class="ui-sortable">
        <table class="table table-condensed" data-bind="visible: showing">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        {% trans "Sort Property" %}
                        <span style="font-size: 13px">
                            <span class="hq-help-template"
                                  data-title="{% trans "Sort Properties" %}"
                                  data-content=
                                      "{% blocktrans %}
                                          Properties in this list determine how
                                          cases are ordered in your case list. This
                                          is useful if for example you want higher
                                          priority cases to appear closer to the
                                          top of the list. The case list will sort
                                          by the first property, then the second,
                                          etc.
                                      {% endblocktrans %}" >
                            </span>
                        </span>
                    </th>
                    <th>{% trans "Direction" %}</th>
                    <th>{% trans "Format" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: sortRows(), sortableList: sortRows">
                <tr>
                    <td>
                        <i class="grip
                                icon-resize-vertical
                                icon-blue"
                           style="cursor: move"></i>
                    </td>

                    <td class="control-group" data-bind="css: {error: showWarning}">
                        <div data-bind="jqueryElement: textField.ui"></div>
                        <div data-bind="visible: showWarning">
                            <span class="help-inline" data-bind="
                                text: DetailScreenConfig.field_format_warning_message
                            "></span>
                        </div>
                    </td>

                    <td>
                        <select data-bind="value: direction">
                            <option value="ascending"
                                    data-bind="text: ascendText">
                            </option>
                            <option value="descending"
                                    data-bind="text: descendText">
                            </option>
                        </select>
                    </td>

                    <td>
                        <select data-bind="value: type">
                            <option value="plain">
                                {% trans "Plain" %}
                            </option>
                            <option value="date">
                                {% trans "Date" %}
                            </option>
                            <option value="int">
                                {% trans "Integer" %}
                            </option>
                            <option value="double">
                                {% trans "Decimal" %}
                            </option>
                            {% if request|toggle_enabled:'CACHE_AND_INDEX' %}
                                <option value="index">
                                    {% trans "Cache and Index" %}
                                </option>
                            {% endif %}
                        </select>
                    </td>

                    <td>
                        <a data-bind="click: $root.sortRows.removeSortRow">
                            <i class="icon-remove icon-blue"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="control-group">
        <button class="btn btn-small" data-bind="
            click: function(data){data.addSortRow('', '', '', true);}"
        >
            <i class="icon icon-plus"></i>
            {% trans "Add sort property" %}
        </button>
    </div>

{% endif %}
</div>

{% if detail.parent_select %}
<div data-bind="with: parentSelect, DetailScreenConfig_notifyShortScreenOnChange: $root">
    <div data-bind="visible: moduleOptions().length">
        <legend>{% trans "Parent Child Selection" %}</legend>
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: active"/>
            {% trans "Select Parent First" %}
        </label>
        <div data-bind="visible: active">
            {% trans "Use Case List from module" %}
            <select data-bind="optstr: moduleOptions, value: moduleId"></select>
        </div>
    </div>
</div>
{% endif %}
