{% load i18n %}

<script type="text/html" id="case-config:condition">
    <!--ko with: condition -->
    <span data-bind="text: $parent.actionType"></span>
    <div data-bind="visible: type() === 'always' && $root.edit">
        <a href="#" data-bind="click: function () {type('if')}"><i class="icon-plus"></i> {% trans "Only if the answer to..." %}</a>
    </div>
    <div data-bind="visible: type() === 'if'">
        <a href="#" data-bind="click: function () {type('always')}, visible: $root.edit"><i class="icon-remove"></i></a>
        {% trans "Only if the answer to" %}
        <input class="input-large" type="hidden" data-bind="
            questionsSelect: $root.getQuestions('select select1', false, $parent.config.allow.repeats()),
            value: question,
            optionsCaption: ' ',
            edit: $root.edit"
        />
        <select class="input-medium" data-bind="
                optstr: [
                    {label:'{% trans "is" %}',value:'='},
                    {label:'{% trans "has selected" %}',value:'selected'}
                ],
                value: operator,
                edit: $root.edit"></select>
        <span data-bind="if: $root.getAnswers({question: question()}).length">
            <select data-bind="
                optstr: $root.getAnswers({question: question()}),
                value: answer,
                edit: $root.edit"></select>
        </span>
        <span data-bind="if: !$root.getAnswers({question: question()}).length">
            <input type="text" class="code" data-bind="value: answer, edit: $root.edit"/>
        </span>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="case-config:case-properties:question">
    <input class="input-large" type="hidden" data-bind="
        questionsSelect: $root.getQuestions('all', false, case_transaction.allow.repeats(), true),
        value: path,
        optionsCaption: ' ',
        edit: $root.edit"
    />
    <p class="help-inline" data-bind="visible: required() && !path()">{% trans "Required" %}</p>
    <p class="help-inline" data-bind="visible: !required() && !path() && key()">{% trans "Not assigned" %}</p>
</script>

<script type="text/html" id="case-config:case-properties:property">
    <span data-bind="visible: !property.required()">
        <input type="text" class="input-medium" data-bind="
            valueDefault: property.key,
            default: property.defaultKey,
            edit: $root.edit,
            casePropertyTypeahead: suggestedProperties,
            event: {
                change: function(){
                    var el = $($element)
                    var caretPosition = el.caret();
                    el.val(el.val().replace(/ /g,'_'));
                    el.caret(caretPosition);
                    return true;
                }
            }
        "/>
    </span>
    <span data-bind="visible: property.required()">
        <code data-bind="text: property.key"></code>
    </span>
</script>

<script type="text/html" id="case-config:case-transaction:case-preload">
    <em>{% trans "Load the following case properties into the form" %}</em>
    <div class="alert alert-block alert-info" data-bind="visible: !case_preload().length">
        {% trans "No case properties will be loaded" %}
    </div>
    <table class="table table-condensed" data-bind="visible: case_preload().length">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Case Property" %}</th>
                <th></th>
                <th>{% trans "Question" %}</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: case_preload">
            <tr class="control-group" data-bind="css: {error: validateProperty || validateQuestion}">
                <td>
                    <a href="#" data-bind="
                        click: $parent.removePreload,
                        visible: $root.edit && !(isBlank() && $index() === $parent.case_preload().length - 1)">
                        <i class="icon-remove"></i>
                    </a>
                </td>
                <td>
                    <div data-bind="template: {
                        name: 'case-config:case-properties:property',
                        data: {'property': $data, 'suggestedProperties': case_transaction.suggestedPreloadProperties}
                    }"></div>
                    <p class="help-inline" data-bind="html: validateProperty, visible: validateProperty"></p>
                </td>
                <td>
                    <i class="icon-arrow-right"></i>
                </td>
                <td>
                    <div data-bind="template: 'case-config:case-properties:question'"></div>
                    <p class="help-inline" data-bind="html: validateQuestion, visible: validateQuestion"></p>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="#" data-bind="click: addPreload, visible: $root.edit && !case_preload().length">
        <i class="icon-plus"></i>
        {% trans "Load properties" %}
    </a>
</script>

<script type="text/html" id="case-config:case-transaction:case-properties">
    <em>{% trans "Save data to the following case properties" %}</em>
    <div class="alert alert-block alert-info" data-bind="visible: !case_properties().length">
        {% trans "No case properties will be saved" %}
    </div>
    <table class="table table-condensed" data-bind="visible: case_properties().length">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Question" %}</th>
                <th></th>
                <th>{% trans "Case Property" %}</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: case_properties">
            <tr class="control-group" data-bind="css: {error: validate, warning: (!validate() && required() && !path()) || (!validate() && !required() && !path() && key())}">
                <td>
                    <a href="#" data-bind="
                        click: $parent.removeProperty,
                        visible: $root.edit && !required() && !(isBlank() && $index() === $parent.case_properties().length - 1)
                    ">
                        <i class="icon-remove"></i>
                    </a>
                </td>
                <td>
                    <div data-bind="template: 'case-config:case-properties:question'"></div>
                </td>
                <td>
                    <i class="icon-arrow-right"></i>
                </td>
                <td>
                    <div data-bind="template: {
                        name: 'case-config:case-properties:property',
                        data: {property: $data, suggestedProperties: case_transaction.suggestedSaveProperties}
                    }"></div>
                    <p class="help-inline" data-bind="html: validate, visible: validate"></p>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="#" data-bind="click: addProperty, visible: $root.edit && !case_properties().length">
        <i class="icon-plus"></i>
        {% trans "Save properties" %}
    </a>
</script>
