{% load i18n %}
{% if app.application_version == '2.0' %}
    <div class="control-group">
        <label class="control-label">
            {% trans "End of form Navigation" %}
            <span class="hq-help-template"
                  data-title="{% trans "End of form Navigation" %}"
                  data-content="{% blocktrans %}After the user completes a form, your application automatically returns to the home screen.
                  Here you can set the application to navigate automatically to a different location in the app.{% endblocktrans %}"
            ></span>
        </label>
        <div id="form-workflow" class="controls commcare-feature" data-since-version="2.10">
            {% if edit %}
                <div class="control-group">
                    <select name="post_form_workflow" data-bind="
                        optstr: workflowOptions(),
                        value: workflow
                        "></select>
                </div>

                <div class="form-links-container" data-bind="
                    visible: showFormLinkUI
                    ">

                    <!-- Container for Form Link UI. Will be populated with existing form links and where new
                        form links will be added -->
                    <div class="form-links" data-bind="
                        template: {
                            name: 'form-link-template',
                            foreach: formLinks,
                            as: 'formLink'
                        }
                        ">
                    </div>
                    <button class="btn btn-primary" data-bind="
                        click: onAddFormLink
                        ">
                        {% trans "Add link" %}
                    </button>
                    <input type="hidden" class="workflow-change-trigger" />
                </div>
            {% else %}
                <span data-bind="text: workflowDisplay()"></span>
            {% endif %}
        </div>
    </div>

    <script type="text/html" id="form-link-template">
        <div class="control-group">
            <textarea name="form_links_xpath_expressions"
                      placeholder="XPath Expression"
                      rows="1"
                      data-bind="
                        text: formLink.xpath,
                        value: formLink.xpath
            "></textarea>
            &nbsp;
            <i class="icon-arrow-right"></i>
            &nbsp;
            <select name="form_links_form_ids" data-bind="
                options: $parent.forms,
                optionsText: 'name',
                optionsValue: 'uniqueId',
                optionsCaption: $parent.displayUnknownForm.call($parent, formLink),
                value: formLink.formId
                "></select>
            <button class="btn btn-danger" data-bind="
                click: $parent.onDestroyFormLink.bind($parent)
                ">
                <i class="icon-trash"></i>
            </button>
            <div class="alert alert-error" data-bind="
                visible: formLink.errors().length
                ">
                <ul data-bind="
                        foreach: formLink.errors(),
                ">
                    <li data-bind="text: $data"></li>
                </ul>
            </div>

        </div>
    </script>
{% endif %}
