{% load i18n %}
{% load xforms_extras %}
{% load hq_shared_tags %}
<div class="tab-pane active" id="form-settings">
    <form class="form-horizontal save-button-form" action="{% url "corehq.apps.app_manager.views.edit_form_attr" domain app.id form.get_unique_id 'all' %}">
        <div class="save-button-holder clearfix"></div>
        <div class="control-group">
            <label class="control-label">{% trans "Form Name" %}</label>
            <div class="controls">
                {% if edit %}
                    {% input_trans form.name langs %}
                {% else %}
                    {{ form.name|html_trans:langs|safe }}
                {% endif %}
            </div>
        </div>

        <legend>
        <a class="accordion-toggle" data-toggle="collapse" data-bind="attr: {href: '#' + id}, css: {collapsed: reallyCollapse}" href="#form-settings-multimedia">
            <i class="icon-double-angle-down"></i>
            <span data-bind="text: title">Media</span>
        </a>
        </legend>
        <div class="collapse in" data-bind="attr: {id: id}, css: {'in': !reallyCollapse()}" id="form-settings-multimedia" style="overflow: hidden;">
            <div class="control-group" data-bind="
                visible: visible,
                css: {error: hasError()}">
                {% include "app_manager/partials/nav_menu_media.html" with ICON_LABEL="Icon" AUDIO_LABEL="Audio" %}
            </div>
        </div>

        <legend>
        <a class="accordion-toggle" data-toggle="collapse" data-bind="attr: {href: '#' + id}, css: {collapsed: reallyCollapse}" href="#form-settings-logic">
            <i class="icon-double-angle-down"></i>
            <span data-bind="text: title">Logic</span>
        </a>
        </legend>
        <div class="collapse in" data-bind="attr: {id: id}, css: {'in': !reallyCollapse()}" id="form-settings-logic" style="overflow: hidden;">
            <div class="control-group" data-bind="
                visible: visible,
                css: {error: hasError()}">

                {% if allow_form_filtering %}
                    {% include "app_manager/partials/form_filter.html" %}
                {% endif %}
                {% if allow_form_workflow %}
                    {% include "app_manager/partials/form_workflow.html" %}
                {% endif %}

            </div>
        </div>

        <legend>
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-bind="attr: {href: '#' + id}, css: {collapsed: reallyCollapse}" href="#form-settings-advanced">
            <i class="icon-double-angle-down"></i>
            <span data-bind="text: title">Advanced</span>
        </a>
        </legend>
        <div class="collapse" data-bind="attr: {id: id}, css: {'in': !reallyCollapse()}" id="form-settings-advanced" style="overflow: hidden;">
            <div class="control-group" data-bind="
                visible: visible,
                css: {error: hasError()}">

                {% include "app_manager/partials/form_gps_capture.html" %}

            </div>
            {% if request|toggle_enabled:'NO_VELLUM' %}
            <div class="control-group">
                <label class="control-label">
                    {% trans "Disallow editing form in Form Builder" %}
                    <span class="hq-help-template"
                          data-title="{% trans "Disallow editing form in Form Builder" %}"
                          data-content="{% blocktrans %}For custom forms that the Form Builder breaks,
                                        use this option to disallow editing in the Form Builder.{% endblocktrans %}"
                    ></span>
                </label>
                <div class="controls" id="no-vellum">
                    {% if edit %}
                         <input type="checkbox" value="true"
                                data-bind="checked: no_vellum"/>
                    {% else %}
                        <input type="checkbox" value="true" disabled="disabled"
                               data-bind="checked: no_vellum"/>
                    {% endif %}
                    <input type="hidden" name="no_vellum" data-bind="value: no_vellum"/>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>
