{% load i18n %}
{% load hq_shared_tags %}
<div id="{{ qualifier|default_if_none:"" }}media_image">
    <div class="control-group">
        <label class="control-label" for="menu_image_path">{% trans ICON_LABEL %}</label>
        <div class="controls commcare-feature"
             data-since-version="1.3">
            {# must use "if" here instead of "visible" #}
            {# otherwise src will be "#" which makes an unneccessary request for the current page #}
            <a data-bind="if: isMediaMatched, attr: {href: url}" target="_blank">
                <img data-bind="attr: {src: thumbnailUrl}" />
            </a>
            {% if edit %}
                <button type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-bind="attr: { 'data-hqmediapath': currentPath },
                                   event: {
                                        mediaUploadComplete: uploadComplete,
                                        click: passToUploadController
                                   }"
                        data-target="#{{ multimedia.upload_managers.icon.slug }}">
                    <i class="icon icon-cloud-upload"></i>
                    <span data-bind="visible: isMediaMatched">
                        {% trans 'Replace Icon' %}
                    </span>
                    <span data-bind="visible: isMediaUnmatched">
                        {% trans 'Upload Icon' %}
                    </span>
                </button>
                <button type="button"
                        class="btn btn-danger "
                        data-bind="
                            visible: isMediaMatched,
                            event: {
                                click: removeMedia
                            }
                        ">
                    <i class="icon icon-remove"></i>
                </button>
                <button type="button"
                        class="btn btn-default pull-right"
                        data-bind="
                            visible: showDefaultPath,
                            event: {
                                click: setCustomPath
                            }">
                    <i class="icon icon-cog"></i>
                    {% trans 'Set Icon Path...' %}
                </button>
            {% else %}
                <div data-bind="visible: isMediaUnmatched">
                    {% trans 'No Image' %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if edit %}
    <div class="control-group"
         data-bind="visible: showCustomPath">
        <label for="image_custom_path" class="control-label">
            {% trans "Icon Path" %}:
        </label>
        <div class="controls">
            <input type="text"
                   class="span6"
                   data-bind="value: customPath,
                              valueUpdate: 'textchange'" />
            <input type="hidden"
                   class="jr-resource-field"
                   name="{{ qualifier|default_if_none:"" }}media_image"
                   data-bind="value: savedPath" />
            <button type="button"
                    class="btn btn-inverse"
                    data-bind="
                        visible: showCustomPath,
                        event: {
                            click: setDefaultPath,
                        }
                    ">
                <i class="icon icon-remove"></i>
                {% trans 'Use Default Path' %}
            </button>
        </div>
    </div>
    {% endif %}
</div>
<div id="{{ qualifier|default_if_none:"" }}media_audio">
    <div class="control-group">
        <label class="control-label" for="menu_audio_path">{% trans AUDIO_LABEL %}</label>
        <div class="controls commcare-feature"
             data-since-version="1.3">
            <a data-bind="visible: isMediaMatched, attr: {href: url}"
               class="btn bt-default"
               target="_blank">
                <i class="icon icon-volume-up"></i>
                {% trans "Preview" %}
            </a>
            {% if edit %}
                <button type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-bind="attr: { 'data-hqmediapath': currentPath },
                                   event: {
                                        mediaUploadComplete: uploadComplete,
                                        click: passToUploadController
                                   }"
                        data-target="#{{ multimedia.upload_managers.audio.slug }}">
                    <i class="icon icon-cloud-upload"></i>
                    <span data-bind="visible: isMediaMatched">
                        {% trans 'Replace Audio' %}
                    </span>
                    <span data-bind="visible: isMediaUnmatched">
                        {% trans 'Upload Audio' %}
                    </span>
                </button>
                <button type="button"
                        class="btn btn-danger "
                        data-bind="
                            visible: isMediaMatched,
                            event: {
                                click: removeMedia
                            }
                        ">
                    <i class="icon icon-remove"></i>
                </button>
                <button type="button"
                        class="btn btn-default pull-right"
                        data-bind="
                            visible: showDefaultPath,
                            event: {
                                click: setCustomPath
                            }">
                    <i class="icon icon-cog"></i>
                    {% trans 'Set Audio Path...' %}
                </button>
            {% else %}
                <div data-bind="visible: isMediaUnmatched">
                    {% trans 'No Audio' %}
                </div>
            {% endif %}
            <p data-bind="visible: isMediaMatched"
               class="help-block">
                <i class="icon icon-info-sign"></i>
                {% blocktrans %}
                To hear audio on Java Phones, you must be in CommCare Sense
                mode or Numeric Selection Mode. (On Android it will always work.)
                {% endblocktrans %}
            </p>
        </div>
    </div>
    {% if edit %}
        <div class="control-group"
             data-bind="visible: showCustomPath">
            <label for="image_custom_path" class="control-label">
                {% trans "Audio Path" %}:
            </label>
            <div class="controls">
                <input type="text"
                       class="span6"
                       data-bind="value: customPath,
                                  valueUpdate: 'textchange'" />
                <input type="hidden"
                       name="{{ qualifier|default_if_none:"" }}media_audio"
                       class="jr-resource-field"
                       data-bind="value: savedPath" />
                <button type="button"
                        class="btn btn-inverse"
                        data-bind="
                            visible: showCustomPath,
                            event: {
                                click: setDefaultPath,
                            }
                        ">
                    <i class="icon icon-remove"></i>
                    {% trans 'Use Default Path' %}
                </button>
            </div>
        </div>
        {% endif %}
</div>
