{% load hq_shared_tags %}
<script type="text/javascript">
    $('#selection_pane_apply').on('click', function(e) {
        e.preventDefault();
        $('.hq-loading').fadeIn();
        var data = JSON.parse(JSON.stringify(multibar_chart_data));
        var productCodes = [];
        $("#report_table_product_selection_pane input:not(:checked)").each(function() {
            productCodes.push($(this).attr('value'));
        });

        for(var i = 0; i < data.length; i++) {
            data[i].values = jQuery.grep(data[i].values, function(value) {
                return jQuery.inArray(value.x, productCodes) === -1
            });
        }
        d3.select(multibar_chart_id + ' svg')
                .datum(data)
                .transition().duration(500).call(multibar_chart);
        $('.hq-loading').fadeOut();
    });

    nv.addGraph(function() {
        var chart_config = {{ chart.config_dict|JSON }};
        multibar_chart_data = {{ chart.data|JSON }};
        multibar_chart_id = '#{{ chart_id }}';
        $(multibar_chart_id).show();

        multibar_chart = nv.models.multiBarChart();

        multibar_chart.xAxis.axisLabel({{ chart.x_axis.label|JSON }});
        {% if chart.x_axis.format %}
            multibar_chart.xAxis.tickFormat(d3.format({{ chart.x_axis.format|JSON }}));
        {% endif %}

        multibar_chart.yAxis.axisLabel({{ chart.y_axis.label|JSON }});
        {% if chart.y_axis.format %}
            multibar_chart.yAxis.tickFormat(d3.format({{ chart.y_axis.format|JSON }}));
        {% endif %}

        multibar_chart.showControls(chart_config.showControls);
        multibar_chart.showLegend(chart_config.showLegend);
        multibar_chart.reduceXTicks(chart_config.reduceXTicks);
        multibar_chart.rotateLabels(chart_config.rotateLabels);
        multibar_chart.tooltips(chart_config.tooltips);
        // Customize tooltip message
        {% if chart.tooltipFormat %}
            multibar_chart.tooltipContent(function(key, y, e, graph) {
                return '<h3>' + key + '</h3><p>' + e + '{{ chart.tooltipFormat }}' + graph.point.name + ' (' + y + ')';
            });
        {% endif %}
        multibar_chart.stacked(chart_config.stacked);
        multibar_chart.margin(chart_config.margin);
        multibar_chart.staggerLabels(chart_config.staggerLabels);
        multibar_chart.multibar.groupSpacing(chart_config.groupSpacing);
        multibar_chart.multibar.forceY(chart_config.forceY);

        d3.select(multibar_chart_id + ' svg')
                .datum(multibar_chart_data)
                .transition().duration(500).call(multibar_chart);

        nv.utils.windowResize(multibar_chart.update);

        return multibar_chart;
    });
</script>
