{% extends "app_manager/ng_partials/base_summary_view.html" %}
{% load i18n %}
{% load hq_shared_tags %}
{% load djangular_tags %}

{% block navigation_extra %}
    {% angularjs %}
    <li role="presentation" ng-class="{ 'active' : !typeSearch.name }">
        <a ng-click="filterCaseTypes()">{% trans "All Case Types" %}</a>
        <hierarchy hierarchy="hierarchy" filter-case-types="filterCaseTypes(casetype)"  type-search="typeSearch"
                has-errors="hasErrors(casetype)"></hierarchy>
    </li>
    {% endangularjs %}
{% endblock %}

{% block content %}
{% angularjs %}
<div class="page-header" style="margin-top: 0;">
    <h1 style="font-size: 1.8em;">{% trans "Case Summary" %}</h1>
    <div class="row">
        <div class="col-xs-4">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="property">{% trans "Filter properties" %}</label>
                <input type="text" class="form-control" id="property" placeholder="Filter properties" ng-model="propertySearch.name">
              </div>
              <button class="btn btn-default" ng-click="propertySearch.name = ''"><i class="fa fa-times"></i></button>
            </form>
        </div>
        <div class="col-xs-8">
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="form-inline form-group btn-group">
                    <label for="language">{% trans "Language" %}</label>
                    <select class="form-control" id="language" ng-model="lang" ng-options="lang for lang in appLangs">
                    </select>
                </div>
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-default"
                            ng-click="showLabels = true"
                            ng-class="{ 'active' : showLabels }">
                        {% trans "Labels" %}
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-click="showLabels = false"
                            ng-class="{ 'active' : !showLabels }">
                        {% trans "Question IDs" %}
                    </button>
                </div>
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-default"
                            ng-click="showConditions = !showConditions"
                            ng-class="{ 'active' : showConditions }">
                        <i class="fa fa-sitemap" ng-class="showConditions ? 'hq-icon' : ''"></i>
                        &nbsp;{% trans "Show Conditions" %}
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-click="showCalculations = !showCalculations"
                            ng-class="{ 'active' : showCalculations }">
                        <i class="fa fa-calculator" ng-class="showCalculations ? 'hq-icon' : ''"></i>
                        &nbsp;{% trans "Show Calculations" %}
                    </button>
                </div>
            </div>
         </div>
    </div>
</div>
<div>
    <loading></loading>
    <div class="row-fluid" ng-hide="loading">
        <div ng-repeat="caseType in caseTypes|filter:typeSearch:true">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                      <div class="col-md-3"><h3>{{ caseType.name }}</h3></div>
                      <div class="col-md-3">
                          <strong>{% trans "Relationships:" %}</strong>
                          <ul>
                                <li ng-repeat="(relationship, case_type) in caseType.relationships">
                                    <span class="label label-primary">{{ relationship }}</span> {{ case_type }}
                                </li>
                          </ul>
                      </div>
                      <div class="col-md-3">
                          <strong>{% trans "Opened by:" %}</strong>
                          <opener-closer forms="caseType.opened_by" lang="lang"></opener-closer>
                      </div>
                      <div class="col-md-3">
                          <strong>{% trans "Closed by:" %}</strong>
                          <opener-closer forms="caseType.closed_by" lang="lang"></opener-closer>
                      </div>
                    </div>
                    <div class="row" ng-show="caseType.has_errors">
                        <div class="col-md-6">
                            {% trans "Problems:" %}
                            <ul>
                                <li ng-show="caseType.error">
                                    {{ caseType.error }}
                                </li>
                                <li ng-repeat="property in caseType.properties|filter:{'has_errors': true}">
                                    <a href="" ng-click="gotoAnchor(caseType.name, property.name)">{{ property.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <table class="case-properties table" ng-repeat-end>
                    <thead>
                        <th>{% trans "Case Property" %}</th>
                        <th>{% trans "Form" %}</th>
                        <th>{% trans "Load questions" %}</th>
                        <th>{% trans "Save questions" %}</th>
                    </thead>
                    <tbody ng-repeat="property in caseType.properties|filter:propertySearch">
                        <tr ng-repeat="form in property.forms" id="{{ caseType.name }}:{{ property.name }}"
                            ng-class="{'danger': property.has_errors}">
                            <td rowspan="{{ property.forms.length }}" ng-if="$first">{{ property.name }}</td>
                            <td>
                                {% verbatim %}
                                {{ getFormName(form.form_id, lang) }}
                                {% endverbatim %}
                                <i class="fa fa-exclamation-triangle text-danger" ng-repeat="error in form.errors"
                                        popover="{{ error }}" popover-trigger="mouseenter"
                                        popover-placement="bottom"></i>
                            </td>
                            <td><form-questions
                                    questions="form.load_questions"
                                    show-conditions="showConditions"
                                    show-calculations="showCalculations"
                                    show-labels="showLabels"
                                    lang="lang"></form-questions></td>
                            <td><form-questions
                                    questions="form.save_questions"
                                    show-conditions="showConditions"
                                    show-calculations="showCalculations"
                                    show-labels="showLabels"
                                    lang="lang"></form-questions></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- template for rendering case type hierarchy in navigation -->
<script type="text/ng-template" id="/hierarchy.html">
<div class="well">
    <ul class="nav nav-pills nav-stacked">
        <member ng-repeat='(casetype, subhierarchy) in hierarchy' casetype='casetype' hierarchy="subhierarchy"
                type-search="typeSearch" filter-case-types="filterCaseTypes({casetype: casetype})"
                has-errors="hasErrors({casetype: casetype})"></member>
    </ul>
</div>
</script>

<!-- sub-template for member of case type hierarchy -->
<script type="text/ng-template" id="/hierarchy_member.html">
<li role="presentation" ng-class="{ 'active' : typeSearch.name === casetype }">
    <a ng-click="filterCaseTypes({casetype: casetype})">
        <i class="fa fa-envelope-square"></i> {{ casetype }}
        <i class="fa fa-exclamation-triangle text-danger" ng-show="hasErrors({casetype: casetype})"></i>
    </a>
</li>
</script>

<!-- template for forms that open / close a case type -->
<script type="text/ng-template" id="/opener_closer.html">
<ul>
    <li ng-repeat="(form_id, conditions) in forms">
        {% verbatim %}{{ getFormName(form_id, lang) }}{% endverbatim %}
        <ul ng-if="conditions.length">
            <li ng-repeat="condition in conditions">
                <i class="fa fa-sitemap"></i> {{ condition.question }} {{ condition.operator }} {{ condition.answer }}
            </li>
        </ul>
    </li>
</ul>
</script>

<!-- template for rendering form questions -->
<script type="text/ng-template" id="/form_questions.html">
<ul class="fa-ul">
    <li ng-repeat="question in questions">
        {% verbatim %}<i class="hq-icon fa-li fcc {{ getIcon(question.question.type) }}"></i>{% endverbatim %}
        {% verbatim %}<span ng-show="showLabels">{{ getQuestionLabel(question.question) }}</span>{% endverbatim %}
        <span ng-hide="showLabels">{{ question.question.value }}</span>
        <ul class="fa-ul" ng-if="question.condition" ng-show="showConditions">
            <li>
                <i class="fa-li fa fa-sitemap text-muted"></i> {{ question.condition.question }} {{ question.condition.operator }} {{ question.condition.answer }}
            </li>
        </ul>
        <ul class="fa-ul" ng-if="question.question.calculate" ng-show="showCalculations">
            <li>
                <i class="fa-li fa fa-calculator text-muted"></i> {{ question.question.calculate }}
            </li>
        </ul>
    </li>
</ul>
</script>
{% endangularjs %}
{% endblock %}