{% extends "app_manager/ng_partials/base_summary_view.html" %}
{% load i18n %}
{% load hq_shared_tags %}
{% load djangular_tags %}

{% block navigation_extra %}
{% angularjs %}
    <li role="presentation" ng-class="{ 'active' : allSelected()}">
        <a ng-click="filterList()">{% trans "All Forms" %}</a>
        <div class="well">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="module in modules" role="presentation" ng-class="{ 'active' : moduleSelected(module)}">
                    <a ng-click="filterList(module)"><i class="hq-icon fa fa-folder-open"></i>
                        {% verbatim %}{{ getFormModuleLabel(module) }}{% endverbatim %}
                    </a>
                    <div class="well">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="form in module.forms" ng-class="{ 'active' : formSearch.id === form.id }">
                                <a ng-click="filterList(module, form)">
                                    {% verbatim %}{{ getFormModuleLabel(form) }}{% endverbatim %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
{% endangularjs %}
{% endblock %}

{% block content %}
{% angularjs %}
    <div class="page-header" style="margin-top: 0;">
        <h1 style="font-size: 1.8em;">{% trans "Form Summary" %}</h1>
        <div class="row">
            <div class="col-xs-4">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="property">{% trans "Filter questions" %}</label>
                    <input type="text" class="form-control" id="property" placeholder="Filter questions" ng-model="questionSearch.$">
                  </div>
                  <button class="btn btn-default" ng-click="questionSearch.$ = ''"><i class="fa fa-times"></i></button>
                </form>
            </div>
            <div class="col-xs-8">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="form-inline form-group btn-group">
                        <label for="language">{% trans "Language" %}</label>
                        <select class="form-control" id="language" ng-model="lang" ng-options="lang for lang in appLangs">
                        </select>
                    </div>
                    <div class="btn-group" role="group" >
                        <button type="button" class="btn btn-default"
                                ng-click="showLabels = true"
                                ng-class="{ 'active' : showLabels }">
                            {% trans "Labels" %}
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="showLabels = false"
                                ng-class="{ 'active' : !showLabels }">
                            {% trans "Question IDs" %}
                        </button>
                    </div>
                    <div class="btn-group" role="group" >
                        <button type="button" class="btn btn-default"
                                ng-click="showCalculations = !showCalculations"
                                ng-class="{ 'active' : showCalculations }">
                            <i class="fa fa-calculator" ng-class="showCalculations ? 'hq-icon' : ''"></i>
                            &nbsp;{% trans "Show Calculations" %}
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="showRelevance = !showRelevance"
                                ng-class="{ 'active' : showRelevance }">
                            <i class="fa fa-code-fork" ng-class="showRelevance ? 'hq-icon' : ''"></i>
                            &nbsp;{% trans "Show Display Conditions" %}
                        </button>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <div>
        <loading></loading>
        <ul>
            <li ng-repeat="module in modules|filter:moduleSearch">
                 <h4><i class="hq-icon fa fa-folder-open"></i> {% verbatim %}{{ getFormModuleLabel(module) }}{% endverbatim %}</h4>

                <ul>
                    <li ng-repeat="form in module.forms|filter:formSearch">
                    <h5>{% verbatim %}{{ getFormModuleLabel(form) }}{% endverbatim %}</h5>
                        <ol>
                            <li ng-repeat="question in form.questions|filter:questionSearch">
                                {% verbatim %}
                                <i class="hq-icon fcc {{ getIcon(question.type) }}" title="{{ question.type }}"></i>
                                <span ng-show="showLabels">{{ getQuestionLabel(question) }}</span>
                                {% endverbatim %}
                                <span ng-hide="showLabels">{{ question.value }}</span>
                                <i class="hq-icon fa fa-exclamation" ng-show="question.required" title="{% trans "This question is required" %}"></i>
                                <ol>
                                    <li ng-repeat="option in question.options">
                                        {% verbatim %}
                                        <span ng-show="showLabels">{{ getQuestionLabel(option) }}</span>
                                        {% endverbatim %}
                                        <span ng-hide="showLabels">{{ option.value }}</span>
                                    </li>
                                </ol>
                                <ul class="fa-ul" ng-if="question.calculate" ng-show="showCalculations">
                                    <li>
                                        <i class="fa-li fa fa-calculator text-muted"></i> {{ question.calculate }}
                                    </li>
                                </ul>
                                <ul class="fa-ul" ng-if="question.relevant" ng-show="showRelevance">
                                    <li>
                                        <i class="fa-li fa fa-code-fork text-muted"></i> {{ question.relevant }}
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <script type="text/ng-template" id="/form_question_tree.html">

    </script>
{% endangularjs %}
{% endblock %}