{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block reportcontent %}
    {% include "base_patient.html" %}
    <br>
    <table id="report_table_{{ report.slug }}" class="table table-striped datatable" {% if pagination.filter %} data-filter="true"{% endif %}>
        <thead>
            <tr>
                {% for header in report_table.headers %}
                    <th {% if not report_table.pagination.is_on %}data-sort="{{ header.sort_type }}" data-sortdir="{{ header.sort_direction }}"{% endif %} {% if header.css_class %}class="{{ header.css_class }}"{% endif %}>
                        <i class="icon-white"></i>
                        {% if header.html %}{{ header.html }}{% else %}{{ header|linebreaksbr }}{% endif %}
                        {% if header.help_text %}
                            <i class="icon-white icon-question-sign header-tooltip" title="{{ header.help_text }}"></i>
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% block tabular-body %}
        {% if report_table.pagination.is_on %}
            <tr>
                <td colspan="{{ report_table.headers.header|length }}" class="dataTables_empty">
                    {% trans "Fetching additional data, please wait..." %}
                </td>
            </tr>
        {% endif %}
        {% for row in report_table.rows %}
            <tr>
                {% for col in row %}
                    {% include 'reports/async/partials/tabular_cell.html' %}
                {% endfor %}
            </tr>
        {% endfor %}
        {% endblock %}
        </tbody>
    </table>
{% endblock reportcontent %}

{% block js-inline %} {{ block.super }}
<script type="text/javascript">
    $(function() {
        if ($('#paramSelectorForm').find('#patient_id_field').length == 0) {
            $('<input>').attr({id: 'patient_id_field', type: 'hidden', name: 'patient_id', value: '{{ patient_id }}' }).appendTo('#paramSelectorForm');
        }
    });
</script>
{% endblock %}