{% extends 'hqwebapp/base_paginated_crud.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block js %}{{ block.super }}
    <script type="text/javascript" src="{% static 'accounting/ko/accounting.payment_method_handler.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endblock %}

{% block js-paginated %}
    <script type="text/javascript">
        Stripe.setPublishableKey('{{ stripe_public_key }}');

        var paymentHandler = new PaymentMethodHandler({
            400: "{% trans "Your request was not formatted properly." %}",
            403: "{% trans "Forbidden." %}",
            404: "{% trans 'Page not found.' %}",
            500: "{% blocktrans %}There was an error processing your request. We're working quickly to fix the issue. Please try again shortly.{% endblocktrans %}"
        });
        {% if stripe_cards %}
            paymentHandler.loadCards({{ stripe_cards|JSON }});
        {% endif %}
        $(function () {
            ko.applyBindings(paymentHandler, $('#paymentModal').get(0));
        });

        paginatedListModel.showUnpaidBills = ko.observable(true);
        paginatedListModel.showAllBills = ko.computed(function () {
            return ! paginatedListModel.showUnpaidBills();
        });
        paginatedListModel.toggleUnpaidBills = function () {
            paginatedListModel.showUnpaidBills(!paginatedListModel.showUnpaidBills());
            paginatedListModel.currentPage(1);
            paginatedListModel.refreshList();
        };

        paginatedListModel.getAdditionalData = function () {
            var additiona_data = {
                'show_unpaid': paginatedListModel.showUnpaidBills()
            };
            if (window.location.href.split('?').length > 2) {
                additiona_data['show_hidden'] = _(window.location.href.split('?')[1].split('&')).contains('show_hidden=true');
            }
            return additiona_data;
        };
        paginatedListModel.initRow = function (rowElems, paginatedItem) {
            var paymentButton = $(rowElems).find('.payment-button');
            if (paymentButton) {
                paymentButton.click(function (e) {
                    paymentHandler.costItem(new Invoice({
                        paginatedItem: paginatedItem,
                        paginatedList: paginatedListModel
                    }));
                    paymentHandler.newCard(new StripeCard());
                    paymentHandler.reset();
                    e.preventDefault();
                });
            }
        };
    </script>
{% endblock %}

{% block paginated_list_top %}
    <h2>{% trans 'Billing Statements' %} <span data-bind="visible: showUnpaidBills">({% trans 'Unpaid' %})</span></h2>
    <p>
        <button type="button"
                class="btn btn-primary"
                data-bind="event: {click: toggleUnpaidBills},
                           visible: showAllBills">
            {% trans 'Show Only Unpaid Statements' %}
        </button>
        <button type="button"
                class="btn btn-primary"
                data-bind="event: {click: toggleUnpaidBills},
                           visible: showUnpaidBills">
            {% trans 'Show All Statements' %}
        </button>
    </p>
{% endblock %}

{% block pagination_templates %}
    <script type="text/html" id="statement-row-template">
        <td class="span2" data-bind="text: invoice_number"></td>
        <td class="span2" data-bind="text: plan.name"></td>
        <td class="span3">
            <span data-bind="text: start"></span> - <span data-bind="text: end"></span>
        </td>
        <td class="span1" data-bind="text: date_due"></td>
        <td class="span2">
            <span data-bind="text: payment_status, attr: {class: payment_class}"></span>
            <!-- ko if: canMakePayment -->
            {% if not is_ops_user_but_not_admin %}
            <button type="button"
                    class="btn btn-success payment-button"
                    data-toggle="modal"
                    data-target="#paymentModal">
                {% trans 'Make Payment' %}
            </button>
            {% else %}
                <span class="label">
                    <i class="icon-info-sign"></i>
                    {% trans "Not Billing Admin, Can't Make Payment" %}
                </span>
            {% endif %}
            <!-- /ko -->
        </td>
        <td class="span2">
            <a class="btn btn-primary"
               data-bind="attr: { href: pdfUrl }"
               target="_blank">{% trans 'Download' %}</a>
        </td>
    </script>

    {% include 'accounting/partials/stripe_card_ko_template.html' %}

    <script type="text/html" id="invoice-cost-item-template">
        <div class="control-group">
            <input type="hidden"
                   name="invoice_id"
                   data-bind="value: id" />
            <label class="control-label">
                {% trans 'Payment Amount' %}
            </label>
            <div class="controls">
                <label class="radio">
                    <input type="radio"
                           name="paymentAmount"
                           id="payment-amount-full"
                           data-bind="checked: paymentAmountType"
                           value="full">
                    {% blocktrans %}
                    Pay the full balance: $<span data-bind="text: balance"></span>
                    {% endblocktrans %}
                </label>
                <label class="radio" data-bind="visible: showCustomOption">
                    <input type="radio"
                           name="paymentAmount"
                           id="payment-amount-custom"
                           data-bind="checked: paymentAmountType"
                           value="partial">
                    {% blocktrans %}
                    Pay a portion of the balance:
                    {% endblocktrans %}
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        <input type="text"
                               class="input-small"
                               name="customPaymentAmount"
                               data-bind="value: customPaymentAmount,
                               event: { click: selectPartialPayment }" />
                    </div>
                    <div class="alert alert-error"
                         data-bind="visible: showAmountRangeError">
                        <i class="icon-warning-sign"></i>
                        {% blocktrans %}
                            Please enter an amount that's between $0.50 and $<span data-bind="text: balance"></span>.
                        {% endblocktrans %}
                    </div>
                    <div class="alert alert-error"
                         data-bind="visible: showAmountLeftoverError">
                        <i class="icon-warning-sign"></i>
                        {% blocktrans %}
                            You can't enter an amount between $<span data-bind="text: maxPartialAmount"></span>
                            and $<span data-bind="text: balance"></span> because
                            the next transfer will be below the minimum amount of $0.50.
                        {% endblocktrans %}
                    </div>
                </label>
            </div>
        </div>
    </script>

    <script type="text/html" id="payment-method-modal-title">
        <h2>
            {% blocktrans %}
            Payment for Statement No. <span data-bind="text: invoiceNumber"></span>
            {% endblocktrans %}
        </h2>
    </script>
{% endblock %}

{% block modals %}{{ block.super }}
    <div class="modal hide fade" id="paymentModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <div data-bind="template: {
                data: costItem,
                name: 'payment-method-modal-title',
                if: hasCostItem
            }"></div>
        </div>
        <form action="{{ process_payment_url }}"
              method="POST"
              class="form form-horizontal"
              id="payment-form">
            <div class="modal-body">
                <p class="alert alert-error"
                     data-bind="visible: showServerErrorMsg">
                    <i class="icon-warning-sign"></i>
                    <span data-bind="text: serverErrorMsg"></span>
                </p>

                <div data-bind="template: {
                    data: costItem,
                    name: 'invoice-cost-item-template',
                    if: hasCostItem
                }, visible: paymentIsNotComplete"></div>

                <div data-bind="template: {
                    data: newCard,
                    name: 'select-new-stripe-card-template',
                    if: mustCreateNewCard
                }"></div>

                <div data-bind="template: {
                    data: $data,
                    name: 'select-stripe-card-template',
                    if: canSelectCard
                }"></div>

                <p class="alert alert-success"
                     data-bind="visible: paymentIsComplete">
                    {% blocktrans %}
                    Thank you for your payment!
                    {% endblocktrans %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        data-bind="visible: paymentIsNotComplete"
                        class="btn"
                        data-dismiss="modal">
                    {% trans "Cancel" %}
                </button>
                <button type="submit"
                        data-bind="
                            visible: paymentIsNotComplete,
                            disable: isSubmitDisabled,
                            click: processPayment"
                        class="btn btn-success">
                    {% trans 'Submit Payment' %}
                </button>
                <button type="button"
                        data-bind="visible: paymentIsComplete"
                        class="btn"
                        data-dismiss="modal">
                    {% trans "Close" %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
