{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block reportcontent %}
{% block pretable %}
    {% if not report.needs_filters %}
        {% if rendered_as == 'print' %}
        <div class="row">
            <div class="span10">{% now "d M Y" %}</div>
        </div>
        <div class="row">
            <div class="span10">
                <h3 class="media-heading">{{ title }}<br/></h3>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if charts %}
        <div class="row">
            {% for chart in charts %}
            <div id='chart_{{ report.slug }}_{{ forloop.counter }}' class="span{{ chart_span }} hide">
                {% if chart.title %}<h4 style="text-align: center;">{{ chart.title }}</h4>{% endif %}
                <svg style='height: {{ chart.height }}px'> </svg>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block reporttable %}
{% if report.needs_filters %}
    {% include 'reports/standard/partials/description.html' %}
{% else %}
    <style>
        .firstreport {
            width: 70%;
            float: left;
        }

        .other_reports {
            width: 30%;
            margin-bottom: 20px;
            float: right;
        }

        #report_table_legend {
            margin-top: -20px;
        }

        {% if report.slug == "reporting_page" %}
            .report:nth-of-type(2), .report:nth-of-type(3), .report:last-of-type, .report:nth-last-of-type(2) {
                display: inline-table !important;
                width: 48% !important;
            }
            .row, table {
                width: 100%;
            }
            .report:first-of-type tbody {
                max-height: 300px;
                overflow-y: auto;
                overflow-x: hidden;
                display: inline-block;
                width: 100%;
            }
            .report:first-of-type tr {
                width: 100%;
                display: inline-table;
            }
        {% elif  report.slug == "stock_status"%}
            .report:first-of-type {
                float: right;
                width: 30%;
            }
            .report:nth-of-type(n+2) {
                float: left;
                width: 68%;
            }
        {% elif  report.slug == "dashboard_report"%}
            .report:nth-of-type(n+2) {
                float: left;
                width: 50%;
            }
        {% endif %}

        #report_table_product_selection_pane tr {
            width: 50%;
            display: inline-block;
            font-size: 10px;
        }

        #report_table_product_selection_pane tr:last-child {
            width: 100%;
        }

        #report_table_product_selection_pane td {
            padding: 0;
        }
    </style>
    {% for thisreport in reports %}
        {% if split %}
            {% if forloop.counter == 1 %}
                <div class="firstreport">
                    <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                    {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
                    <br/>
                </div>
            <div class="other_reports">
            {% elif  forloop.last %}
                </div>
                <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                {% if thisreport.report_table.slug == 'inventory_management' %}
                    <div class="row" style="margin: 0 !important">
                        <form>
                            <div style="display: inline-block">
                                <input type="text" id="inventory_filter" class="date-range-picker" value="{{ datespan.startdate|date:'Y-m-d' }} to {{ datespan.enddate|date:'Y-m-d' }}" />
                                <button style="margin-bottom: 9px;" id="inventory_filter_btn" class="filters btn">Apply</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
                {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
                <br/>
            {% else %}
                <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
                <br/>
            {% endif %}
        {% else %}
            <span class="report">
                <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
            </span>
        {% endif %}
    {% endfor %}

{% endif %}
{% endblock %}
{% block posttable %}{% endblock %}
{% endblock %}

{% block js-inline %}
    {% for thisreport in reports %}
        {% for chart in thisreport.charts %}
            {% with id1=forloop.counter|stringformat:"s" id2=forloop.parentloop.counter|stringformat:"s" slug=report.slug %}
                {% include chart.template_partial with chart=chart chart_id='chart_'|add:slug|add:'_'|add:id2|add:id1 %}
            {% endwith %}
        {% endfor %}
    {% endfor %}

    <script>
        var report_filters = {{ r_filters | JSON }};
        var fpr_filters = {{ fpr_filters | JSON }};

        function toggleFilters(array, is_visible) {
            $.each( array, function( index, value ) {
                if(is_visible) $('#fieldset_' + value).show();
                else $('#fieldset_' + value).hide();
            });
        }
        $('body').on('change', function(){
            setTimeout(function() {
                var selected = $('#group_location_async select:last-child option:selected').text();
                if (selected === 'All') {
                    toggleFilters(fpr_filters, false);
                    toggleFilters(report_filters, true);
                } else {
                    toggleFilters(report_filters, false);
                    toggleFilters(fpr_filters, true);
                }
            }, 100);
        });
    </script>

    <script>
        function updateExportButton() {
            var button = $("#export-report-excel");
            if ({{ split|yesno:"true,false" }}) {
                button.text("Export Chart to Excel");
                button.css('display', 'inline-block');
            } else if ({{ exportable|yesno:"true,false" }}){
                button.text("Export Chart(s) to Excel");
                button.css('display', 'inline-block');
            } else {
                button.css('display', 'None');
            }
        }
        $("#apply-filters").on('click', function(){
            updateExportButton();
        });
        updateExportButton();
        $(".dataTables_filter").css('display', 'none');
    </script>

    <script>
        $('#selection_pane_apply').on('click', function(e) {
            e.preventDefault();
            var productCodes = [];
            $("#report_table_product_selection_pane input:not(:checked)").each(function() {
                productCodes.push($(this).attr('value'));
            });
            var idsToHide = [];
            $(".dataTables_scrollHead thead th").each(function(id){
                if (jQuery.inArray($(this).text().trim(), productCodes) !== -1) {
                    $(this).css('display', 'none');
                    idsToHide.push(id);
                } else {
                    $(this).css('display', 'table-cell');
                }
            });
            $(".dataTables_scrollBody th").each(function(id) {
                if (jQuery.inArray(id, idsToHide) !== -1) {
                    $(this).css('display', 'none');
                } else {
                    $(this).css('display', 'table-cell');
                }
            });
            $(".dataTables_scrollBody tr").each(function() {
                $(this).children().each(function(id) {
                    if (jQuery.inArray(id, idsToHide) !== -1) {
                        $(this).css('display', 'none');
                    } else {
                        $(this).css('display', 'table-cell');
                    }
                });
            });
        });
    </script>
    <script>
        var report_slug = "{{ report.slug | safe }}";
        if ( report_slug === 'stock_summary_report' || report_slug === 'cms_rms_summary_report') {
            var headings = $("#report-content > h4");
            $(headings[0]).text($(headings[2]).text());
            $(headings[2]).remove();
            $('.dataTables_filter').remove();
        }
    </script>
{% endblock %}
