{% extends "settings/base_template.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'style/lib/knockout_plugins/knockout_mapping.ko.min.js' %}"></script>
    <script src="{% static 'style/ko/knockout_bindings.ko.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/jquery-ui/jquery-ui-1.8.16.min.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script>
        var CustomExportView = {
            wrap: function (o) {
                var self = ko.mapping.fromJS(o);
                self.show_deleted = ko.observable(false);

                self.utils = {
                    rename: function (field, rename_map) {
                        if (rename_map.hasOwnProperty(field)) {
                            return rename_map[field];
                        } else {
                            return field;
                        }
                    },
                    stripIndex: function (index) {
                        var stripped;
                        if (self.custom_export.type() === 'form') {
                            index = ko.utils.unwrapObservable(index);
                            stripped = index.replace(/^#.form.(.*).#$/, '$1');
                            if (index !== stripped) {
                                return stripped;
                            }
                            stripped = index.replace(/^#.(.*).#$/, '$1 (meta)');
                        } else {
                            stripped = index.replace(/^#.(.*).#$/, '$1');
                        }
                        stripped = stripped.replace(/.#./g, ' > ');
                        return stripped;
                    },
                    tableHeader: function (index) {
                        index = ko.utils.unwrapObservable(index);
                        var stripped = self.utils.stripIndex(index);
                        if (self.custom_export.type() === 'form') {
                            if (index === '#') {
                                return "{% trans "Forms" %}";
                            }
                            return "{% trans 'Repeat: ' %}" + stripped;
                        } else {
                            return {
                                '#': "{% trans 'Cases' %}",
                                'actions': "{% trans 'Case History' %}",
                                'actions > indices': "{% trans 'Case History > Parent Cases' %}",
                                'indices': "{% trans 'Parent Cases' %}"
                            }[stripped] || stripped;
                        }
                    },
                    parseField: function (field, index, field_tag) {
                        var tags = field_tag ? [field_tag] : [];
                        var stripped;
                        field = ko.utils.unwrapObservable(field);
                        index = ko.utils.unwrapObservable(index);
                        var server = {
                            _rev: 0,
                            doc_type: 0,
                            '-deletion_id': 0,
                            initial_processing_complete: 0
                        };
                        if (field in server) {
                            return {tags: ['server'].concat(tags), field: field};
                        } else if (field === 'id') {
                            return {tags: ['row'].concat(tags), field: 'number'};
                        }

                        var renamed_field = field;
                        if (self.custom_export.type() === 'form' && index === '#') {
                            var rename_map = {
                                "form.case.@case_id": "form.meta.caseid",
                                "form.meta.timeEnd": "form.meta.completed_time",
                                "form.meta.timeStart": "form.meta.started_time",
                                "_id": "form.meta.formid"
                            };
                            field = self.utils.rename(field, rename_map);
                            var patterns = [
                                {regex: /^form\.meta\.(.*)$/, tag: 'info'},
                                {regex: /^form\.case\.(.*)$/, tag: 'case'},
                                {regex: /^form\.subcase_\d(.*)$/, tag: 'subcase', no_replace: true},
                                {regex: /^form\.([#@].*)$/, tag: 'tag'},
                                {regex: /^form\.(.*)$/, tag: ''}
                            ], pattern, stripped;
                            for (var i = 0; i < patterns.length; i++) {
                                pattern = patterns[i];
                                stripped = !pattern.no_replace ? field.replace(pattern.regex, '$1') : field;
                                if (field !== stripped) {
                                    return {tags: [pattern.tag].concat(tags), field: stripped};
                                }

                                if (pattern.no_replace && pattern.regex.test(field)) {
                                    tags += pattern.tag;
                                }
                            }

                            return {tags: ['server'].concat(tags), field: renamed_field};
                        } else if (self.custom_export.type() === 'case') {

                            if (index === '#') {
                                var meta = {
                                    _id: 0,
                                    closed: 0,
                                    closed_by: 0,
                                    closed_on: 0,
                                    domain: 0,
                                    computed_modified_on_: 0,
                                    server_modified_on: 0,
                                    modified_on: 0,
                                    opened_by: 0,
                                    opened_on: 0,
                                    owner_id: 0,
                                    user_id: 0,
                                    type: 0,
                                    version: 0,
                                    external_id: 0
                                };
                                rename_map = {
                                    '_id': 'case_id',
                                    'type': 'case_type',
                                    'user_id': 'last_modified_by_user_id',
                                    'modified_on': 'last_modified_date',
                                    'server_modified_on': 'server_last_modified_date',
                                    'opened_by': 'opened_by_user_id',
                                    'opened_on': 'opened_date',
                                    'closed_by': 'closed_by_user_id',
                                    'closed_on': 'closed_date'
                                };
                                renamed_field = self.utils.rename(field, rename_map);
                                if (meta.hasOwnProperty(field)) {
                                    return {tags: ['info'].concat(tags), field: renamed_field};
                                }
                            } else if (/#\.indices\.#$/.exec(index)) {
                                var rename_map = {
                                    'identifier': 'relationship',
                                    'referenced_id': 'case_id',
                                    'referenced_type': 'case_type'
                                };
                                renamed_field = self.utils.rename(field, rename_map);

                            } else if (index === '#.actions.#') {
                                stripped = field.replace(
                                    /^updated_(?:un)?known_properties\.(.*)$/,
                                    '$1'
                                );
                                if (stripped !== field) {
                                    return {tags: ['update'].concat(tags), field: stripped};
                                }
                            }
                        }
                        return {tags: [''].concat(tags), field: renamed_field};
                    },
                    showTable: function (table) {
                        var index = table.index();
                        var excluded = index in CustomExportView.excludedTables;
                        var columns = table.column_configuration();
                        if (!excluded && columns.length === 2) {
                            // just an '' field and an 'id' field field, no info
                            var blank_field = columns[0],
                                id_field = columns[1];
                            if (id_field.index() === 'id' && blank_field.index() === '') {
                                excluded = true;
                            }
                        }
                        return !excluded || table.selected();
                    },
                    actuallyShowTable: function (table) {
                        if (self.repeatsEnabled()) {
                            return self.utils.showTable(table);
                        } else {
                            return table.index() === '#' || table.selected();
                        }
                    },
                    putInDefaultOrder: function (index, columns) {
                        // http://stackoverflow.com/questions/2998784/how-to-output-integers-with-leading-zeros-in-javascript
                        // [11] < [2], so have to pad numbers
                        function pad10(a){return(1e15+a+"").slice(-10)}

                        var order = ko.utils.unwrapObservable(self.default_order[index]);
                        var order_index = {};
                        _(order).each(function (index, i) {
                            order_index[index] = pad10(i);
                        });
                        var tag_order = {
                            '': 0,
                            'case': 1,
                            'info': 2,
                            'update': 2.5, // for case history only
                            'server': 3,
                            'tag': 4,
                            'row': 5
                        };
                        return _(columns).sortBy(function (column) {
                            var key;
                            if (order_index.hasOwnProperty(column.index())) {
                                key = [0, order_index[column.index()]];
                            } else {
                                key = [1, tag_order[column._niceField.tags[0]], column._niceField.field];
                            }
                            return key;
                        });
                    }
                };

                self.repeatsEnabled = ko.computed(function () {
                    var n_tables = _(self.table_configuration()).filter(
                            self.utils.showTable
                    ).length;
                    if (self.allow_repeats()) {
                        return n_tables > 1;
                    } else {
                        return _(self.table_configuration()).filter(function (table) {
                            return table.index() !== '#' && table.selected();
                        }).length > 0;
                    }
                });

                _(self.table_configuration()).each(function (table) {
                    // assumes unselected
                    var unselected;
                    var columns = table.column_configuration();

                    _(columns).each(function (column) {
                        var niceField = self.utils.parseField(column.index, table.index, column.tag());
                        var special = ko.utils.unwrapObservable(column.special);
                        if (special) {
                            niceField['field'] = special;
                        }
                        column._niceField = niceField;
                        column.showOptions = ko.observable(false);
                        column.newOption = ko.observable("");
                        column.addOption = function(e) {
                            if (this.newOption() != "") {
                                if (this.options.indexOf(this.newOption()) === -1) {
                                    this.options.push(this.newOption());
                                    this.allOptions.push(this.newOption());
                                }
                                this.newOption("");
                            }
                            return false;
                        }.bind(column);
                    });

                    for (var i = 0; i < columns.length; i++) {
                        if (!columns[i].selected()) {
                            break;
                        }
                    }
                    unselected = table.column_configuration.splice(i, columns.length);
                    unselected = self.utils.putInDefaultOrder(table.index(), unselected);
                    table.column_configuration.push.apply(
                        table.column_configuration,
                        unselected
                    );
                });

                self.showDeidColumn = ko.observable(function () {
                    return _(self.table_configuration()).some(function (table) {
                        return table.selected() && _(table.column_configuration()).some(function (column) {
                            return column.selected() && column.transform() && column.is_sensitive();
                        });
                    });
                }());

                self.animateShowDeidColumn = function () {
                    $('html, body').animate({
                        scrollTop: $('#field-select').offset().top + 'px'
                    }, 'slow', undefined, function () {
                        self.showDeidColumn(true);
                    });

                };

                self.setAllSelected = function (table, selected) {
                    _(table.column_configuration()).each(function (column) {
                        if (!selected || self.show_deleted() || column.show()) {
                            column.selected(selected);
                        }
                    });
                };
                self.selectAll = function (table) {
                    self.setAllSelected(table, true);
                };
                self.selectNone = function (table) {
                    self.setAllSelected(table, false);
                };

                self.make_tables = function () {
                    var tables = _(self.table_configuration()).filter(function (table) {
                        return table.selected();
                    }).map(function (table) {
                        return {
                            display: table.display,
                            index: table.index,
                            columns: _(table.column_configuration()).filter(function (column) {
                                return column.selected();
                            }).map(function (column) {
                                var is_sensitive = column.transform() && (column.is_sensitive() || !ko.utils.unwrapObservable(column.special)),
                                    col = {
                                        index: column.index,
                                        display: column.display,
                                        transform: column.transform() || null, // it doesn't save '' well
                                        is_sensitive: Boolean(is_sensitive)
                                };
                                if (column.doc_type() === 'SplitColumn'){
                                    col.doc_type = column.doc_type();
                                    col.options = column.options();
                                }
                                return col;
                            })
                        }
                    });
                    tables = ko.mapping.toJS(tables);
                    if (tables.length > 1) {
                        _(tables).each(function (table) {
                            if (!_(table.columns).some(
                                        function (column) { return column.index === 'id'; }
                                    )) {
                                table.columns.splice(0, 0, {
                                    index: 'id',
                                    display: 'row.number',
                                    transform: null
                                });
                            }
                        });
                    }
                    return tables;
                };

                self.output = ko.computed(function () {
                    var output = ko.mapping.toJS({
                        custom_export: self.custom_export,
                        presave: self.presave,
                        export_stock: self.export_stock
                    });
                    output.custom_export.tables = self.make_tables();
                    return JSON.stringify(output);
                });

                self.save = function () {
                    self.save.state('saving');
                    $.post(self.urls.save(), self.output()).done(function (data) {

                        var redirect = function(){
                            window.location.href = data.redirect;
                        };

                        // If the button had said "Create"
                        if (!self.custom_export._id || !self.custom_export._id()) {
                            var event_category = null;
                            if (self.custom_export.type() == "form") {
                                event_category = 'Form Exports';
                            } else if (self.custom_export.type() == "case") {
                                event_category = 'Case Exports';
                            }

                            if (event_category) {
                                // Record an event
                                ga_track_event(event_category, 'Custom export creation', "", {
                                    'hitCallback': redirect
                                });
                                return;
                            }
                        }
                        redirect();
                    }).fail(function (response) {
                        var data = $.parseJSON(response.responseText);
                        self.save.state('error');
                        alert('There was an error saving: ' + data.error);
                    });
                };
                self.save.state = ko.observable('save');

                self.row_label_classes = function(row) {
                    return (row === 'no data' || row === 'deleted') ? "label label-warning" : "label";
                };

                setTimeout(function () {
                    _(self.table_configuration()).each(function (table) {
                        if (!table.display()) {
                            table.display(self.utils.tableHeader(table.index));
                        }
                        _(table.column_configuration()).each(function (column) {
                            if (!column.display()) {
                                var parsed = column._niceField;
                                var prefixed_tags = ["case", "meta", "info", "server", "tag", "row"];
                                var prefix = '';
                                for (var i = 0; i < parsed.tags.length; i++) {
                                    for (var j = 0; j < prefixed_tags.length; j++) {
                                        if (parsed.tags[i] === prefixed_tags[j]) {
                                            prefix = parsed.tags[i] + '.';
                                            break;
                                        }
                                    }
                                }
                                var display = prefix + parsed.field;
                                column.display(display);
                            }
                        });
                    });
                }, 0);

                return self;
            },
            excludedTables: {
                '#.#export_tag.#': 0,
                '#.export_tag.#': 0,
                '#.location_.#': 0,
                '#.referrals.#': 0,
                '#.xform_ids.#': 0
            }
        };

        $(function () {
            var customExportView = CustomExportView.wrap({
                custom_export: {{ custom_export|JSON }},
                table_configuration: {{ table_configuration|JSON }},
                presave: {{ presave|JSON }},
                export_stock: {{ export_stock|JSON }},
                deid_options: {{ deid_options|JSON }},
                column_type_options: {{ column_type_options|JSON }},
                urls: {
                    save: {{ request.get_full_path|safe|JSON }}
                },
                allow_repeats: {{ helper.allow_repeats|JSON }},
                default_order: {{ default_order|JSON }}
            });

            ko.applyBindings(customExportView, $('#customize-export').get(0));
        });
    </script>
{% endblock %}

{% block main_column %}
<div id="customize-export" style="display: none;" data-bind="visible: true">
    {# content for multi-select help popover #}
    <div id="popover_content_wrapper" style="display: none">
        {% blocktrans %}
            These options allow you to configure how CommCare exports data from multi-select questions.
            If you do not want to split the options into multiple columns select the 'plain' option.
            Each item that is selected in the select list will appear as a column in the exported data.
            Any options not selected will be in an "extra" column.
        {% endblocktrans %}
        <a href='https://help.commcarehq.org/display/commcarepublic/Splitting+multi-select+data+in+exports' target="_blank" class="allow-click">
            {% trans "More info" %}
        </a>
    </div>
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>{% trans "Export Settings" %}</legend>
            <div class="control-group">
                <label for="export-name" class="control-label">{% trans "Export Name" %}</label>
                <div class="controls">
                    <input type="text" id="export-name" data-bind="value: custom_export.name" />
                </div>
            </div>
            <div class="control-group">
                <label for="format-select" class="control-label">{% trans "Default file type" %}</label>
                <div class="controls">
                    <select id="format-select" data-bind="value: custom_export.default_format">
                        <option value="csv">{% trans "CSV (Zip file)" %}</option>
                        <option value="xlsx">{% trans "Excel 2007" %}</option>
                        <option value="xls">{% trans "Excel (older versions)" %}</option>
                        <option value="html">{% trans "Web Page (Excel Dashboards)" %}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {% if commtrack_domain %}
                        <label class="checkbox">
                            <input type="checkbox" id="presave-checkbox" data-bind="checked: export_stock" />
                            {% trans "Export stock data columns" %}
                        </label>
                    {% endif %}
                    <label class="checkbox">
                        <input type="checkbox" id="transform-dates-checkbox" data-bind="checked: custom_export.transform_dates" />
                        {% trans "Automatically convert dates for Excel" %}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: $root.show_deleted" />
                        {% trans "Show Deleted Questions and Advanced Properties" %}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="presave-checkbox" data-bind="checked: presave" />
                        {% trans "Create a Daily Saved Export" %}
                    </label>
                {% if custom_export.type == 'form' %}
                    <label class="checkbox">
                        <input type="checkbox" id="include-errors-checkbox" data-bind="checked: custom_export.include_errors" />
                        {% trans "Include duplicates and other unprocessed forms" %}
                    </label>
                {% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset data-bind="foreach: table_configuration">
            <div>
                <legend data-bind="visible: $root.utils.actuallyShowTable($data)">
                    <span data-bind="visible: $root.repeatsEnabled()">
                        <input type="checkbox" data-bind="checked: selected" />
                    </span>
                    <span>
                        <span data-bind="text: $root.utils.tableHeader(index())">
                    </span>
                </legend>
                <div data-bind="visibleFade: selected">
                    <div class="control-group" data-bind="visible: $root.repeatsEnabled()">
                        <label class="control-label">{% trans "Sheet Name" %}</label>
                        <div class="controls">
                            <input type="text" data-bind="value: display" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            <strong>{% trans "Choose the fields you want to export." %}</strong><br />
                            {% trans "You can drag and drop fields to reorder them.  You can also rename fields, which will update the headers in the export file." %}
                        </label>
                        <div class="controls">
                            <table class="table table-striped table-bordered table-condensed" id="field-select">
                                <thead>
                                <tr class="nodrag nodrop">
                                    <th></th>
                                    <th>{% trans "Include this Field?" %}<br>
                                        <a href="#" class="btn btn-mini" data-bind="click: $root.selectAll">{% trans "Select All" %}</a>
                                        <a href="#" class="btn btn-mini btn-inverse" data-bind="click: $root.selectNone">{% trans "Select None" %}</a></th>
                                    <th>
                                        {% trans "Question" %}
                                    </th>
                                    <th>{% trans "Display" %}</th>
                                    {% if request|toggle_enabled:'SPLIT_MULTISELECT_EXPORT' %}
                                    <th>{% trans "Type" %}</th>
                                    {% endif %}
                                    {% if helper.allow_deid %}
                                    <th class="deid-column" data-bind="visible: $root.showDeidColumn()">{% trans "Sensitivity" %}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody data-bind="sortable: column_configuration">
                                    <tr data-bind="
                                        visible:  $root.show_deleted() || ($data.show() || selected),
                                        attr: {'data-order': _sortableOrder}
                                        ">
                                        <td class="sortable-handle">
                                            <i class="icon-resize-vertical"></i>
                                        </td>
                                        <td><input type="checkbox" class="field-include" data-bind="checked: selected" /></td>
                                        <td>
                                            <span data-bind="foreach: _niceField.tags">
                                                <span data-bind="text: $data, visible: $data, attr: { 'class': $root.row_label_classes($data)}"></span>
                                            </span>
                                            <code data-bind="text: _niceField.field"></code>

                                        </td>
                                        <td><input class="input-xlarge" type="text" data-bind="value: display" /></td>
                                        {% if request|toggle_enabled:'SPLIT_MULTISELECT_EXPORT' %}
                                        <td class="input">
                                            <div data-bind="if: !allOptions()">
                                                <select disabled>
                                                    <option>{% trans "plain" %}</option>
                                                </select>
                                            </div>
                                            <div data-bind="if: allOptions">
                                                <select data-bind="
                                                    value: doc_type,
                                                    foreach: $root.column_type_options
                                                "/>
                                                    <option data-bind="value: value, text: label"></option>
                                                </select>
                                                <span data-bind="makeHqHelp: {name: '{% trans "Split multi-select data" %}', placement: 'left', trigger: 'click'}"></span>
                                                <div data-bind="if: doc_type() === 'SplitColumn'">
                                                    <a href="#" data-bind="visible: !showOptions(), click: function() {showOptions(true);}">{% trans "Show Options" %}</a>
                                                    <div data-bind="visible: showOptions">
                                                        <select class="select2" data-bind="options: allOptions, selectedOptions: options" multiple="true">
                                                        </select>
                                                        <br/>
                                                        <input class="input input-small" type="text" data-bind="value: newOption"/>
                                                        <button class="btn" data-bind="click: addOption">{% trans "Add" %}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        {% endif %}
                                        {% if helper.allow_deid %}
                                        <td class="deid-column" data-bind="visible: $root.showDeidColumn()">
                                            <select data-bind="
                                                value: transform || '',
                                                foreach: $root.deid_options,
                                                visible: index() !== 'id' || transform()
                                            ">
                                                <option data-bind="value: value, text: label"></option>
                                            </select>
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {% if helper.allow_deid %}
        <fieldset>
            <legend>{% trans "Privacy Settings" %}</legend>
            <div class="control-group">
                <label for="is_safe" class="control-label"></label>
                <div class="controls deid-column" data-bind="visible: $root.showDeidColumn()">
                    <label class="checkbox">
                        <input type="checkbox" id="is_safe" data-bind="checked: custom_export.is_safe" />
                        {% trans "Publish in" %} {{ DeidExportReport_name }}
                    </label>
                    <span class="help-inline">{% trans "Check only if this export has been fully and safely de-identified." %}</span>
                </div>
                <button class="btn" data-bind="
                    visible: !showDeidColumn(),
                    click: animateShowDeidColumn
                ">
                    {% trans "Allow me to mark sensitive data" %}
                </button>
            </div>
        </fieldset>
        {% endif %}
        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-primary" data-bind="
                click: save,
                disable: save.state() === 'saving'
            ">
                <span data-bind="visible: save.state() === 'save'">
                    <span data-bind="visible: custom_export._id && custom_export._id()">{% trans "Save" %}</span>
                    <span data-bind="visible: !custom_export._id || !custom_export._id()">{% trans "Create" %}</span>
                </span>
                <span data-bind="visible: save.state() === 'saving'">
                    <i class="icon-refresh icon-spin"></i>
                    {% trans "Saving" %}
                </span>
                <span data-bind="visible: save.state() === 'error'">
                    {% trans "Try Again" %}
                </span>

            </button>
            <a class="btn btn-large" href="{{ helper.back_url }}">{% trans "Cancel" %}</a>
            {% if custom_export.get_id %}
            <a class="btn btn-large btn-danger pull-right" data-toggle="modal" href="#delete-export-modal-{{ custom_export.get_id }}">
                <i class="icon-remove icon-white"></i>
                {% trans "Delete this Export" %}
            </a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block modals %}{{ block.super }}
    {% if custom_export.get_id %}
        {% with custom_export as export %}
            {% include "export/dialogs/delete_custom_export_dialog.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
