{% extends 'logistics/config.html' %}
{% load i18n %}
{% block main_column %}
    {% if is_commtrack_enabled %}
        {{ block.super }}
    {% else %}
        You have to enable commtrack in order to use ILSGateway migration.
    {% endif %}
{% endblock %}
{% block enabled_section %}
    {% if checkpoint or stock_data_checkpoint %}
        <h3>Checkpoint status</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>API Name</th>
                    <th>Start date</th>
                    <th>Date</th>
                    <th>Checkpoint</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tr>
                <td>{{ checkpoint.api }}</td>
                <td>
                    {% if checkpoint.start_date %}
                        {{ checkpoint.start_date }}
                    {% else %}
                        Not started yet.
                    {% endif %}
                </td>
                <td>
                    {% if checkpoint.date %}
                        {{ checkpoint.date }}
                    {% else %}
                        initial migration
                    {% endif %}
                </td>
                <td>{{ checkpoint.offset }}</td>
            <td></td>
            </tr>

            <tr>
                <td>{{ stock_data_checkpoint.api }}</td>
                <td>
                    {% if stock_data_checkpoint.start_date %}
                        {{ stock_data_checkpoint.start_date }}
                    {% else %}
                        Not started yet.
                    {% endif %}
                </td>
                <td>
                    {% if stock_data_checkpoint.date %}
                        {{ stock_data_checkpoint.date }}
                    {% else %}
                        initial migration
                    {% endif %}
                </td>
                <td>{{ stock_data_checkpoint.offset }}</td>
                <td>{{ stock_data_checkpoint.location.name }}</td>
            </tr>

        </table>
    {% endif %}

    {% if runner %}
        <h3>Active report run</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Start run</th>
                    <th>End run</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>{% if runner.start %}
                        {{ runner.start}}
                    {% else %}
                        Not started yet.
                    {% endif %}</td>
                <td>
                    {% if runner.end %}
                        {{ runner.end }}
                    {% else %}
                        Not finished yet.
                    {% endif %}
                </td>
                <td>
                    {{ runner.start_run }}
                </td>
                <td>
                    {% if runner.end_run %}
                        {{ runner.end_run }}
                    {% else %}
                        Not finished yet.
                    {% endif %}
                </td>
                <td>
                    {{ runner.location.name }}
                </td>
                <td>
                    <form action="{% url 'end_report_run' domain %}" method="POST">

                        <button type="submit" class="btn">Mark as finished</button>
                    </form>
                </td>
            </tr>

        </table>
    {% endif %}
    {{ block.super }}
    {% if settings.source_config.enabled %}
        <div class="row-fluid">
            <div class="span12">
                <div class="btn-toolbar">
                    <button class="btn" id="sync_stock_data">
                        {% trans "Sync stock data" %}
                    </button>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="btn-toolbar">
                    <button class="btn" id="clear_stock_data">
                        {% trans "Clear stock data" %}
                    </button>
                </div>
            </div>
        </div>
        {% if not runner %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="btn-toolbar">
                        <button class="btn" id="run_reports">
                            {% trans "Run reports generation" %}
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row-fluid">
            <div class="span12">
                <div class="btn-toolbar">
                    <button class="btn" id="ils_sms_users_fix">
                        {% trans "Fix sms users" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="btn-toolbar">
                    <button class="btn" id="delete_runs">
                        {% trans "Delete reports runs" %}
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js-inline %}

    {{ block.super }}
    <script>
        var _post = function (elem, url, options) {
            var options = options || {};
            var success = options.success || "{% trans "Sync Successful" %}";
            var error = options.error || "{% trans "Error!" %}";
            $(elem).prop('disabled', true).html("{% trans "Syncing..." %}");

            $.ajax({
                type: 'POST',
                url: url,
                success: function() {
                    $(elem).html(success);
                },
                error: function() {
                    $(elem).html(error).addClass("btn-danger");
                }
            });
        };

        $("#sync_stock_data").click(function() {
            var url = '{% url sync_stock_url domain %}';
            var successMessage = "{% trans "Sync started" %}";
            _post(this, url, {success: successMessage});
        });

        $("#clear_stock_data").click(function() {
            var url = '{% url clear_stock_url domain %}';
            var successMessage = "{% trans "Started" %}";
            _post(this, url, {success: successMessage});
        });

        $("#run_reports").click(function() {
            var url = '{% url 'run_reports' domain %}';
            var successMessage = "{% trans "Sync started" %}";
            _post(this, url, {success: successMessage});
        });

        $("#ils_sms_users_fix").click(function() {
            var url = '{% url 'ils_sms_users_fix' domain %}';
            var successMessage = "{% trans "Resync started" %}";
            _post(this, url, {success: successMessage});
        });

        $("#delete_runs").click(function() {
            var url = '{% url 'delete_runs' domain %}';
            var successMessage = "{% trans "Started" %}";
            _post(this, url, {success: successMessage});
        });
    </script>
{% endblock %}