{% extends 'hqwebapp/two_column.html' %}
{% load xforms_extras %}
{% load url_extras %}
{% load hq_shared_tags %}
{% load timezone_tags %}
{% load i18n %}

{% block title %}{% trans "Applications" %}{% endblock %}

{% block page-title %}
    <ul class="breadcrumb">
        <li>
            <a href="{% if app %}{% url "view_app" domain app.id %}{% else %}#{% endif %}"><strong>{% trans "Applications" %}</strong></a>
        </li>
        {% block breadcrumbs %}
        {% endblock %}
    </ul>
{% endblock %}

{% block stylesheets %}{{ block.super }}
    <link type="text/less" rel="stylesheet" media="all" href="{% static 'style/less/legacy/app_manager.less' %}"/>
{% endblock %}

{% block head %}{{ block.super }}
    {% include "imports/jqmodal.html" %}
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'hqwebapp/js/ui-element.js' %}"></script>
    <script src="{% static 'langcodes/js/langcodes.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/jquery.textchange.min.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script>
    $(function () {
        $('#deleted-app-dialog').modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        }).on('hide', function () {
            window.location = "{% url "corehq.apps.app_manager.views.default" domain %}";
        });
    });
    $(function () {
       $('.app-manager-content').removeClass('hide');
    });
    </script>
{% endblock %}
{% block keyboard_shortcuts %}
    <script>
        var nav_key = {{ request.couch_user.keyboard_shortcuts.main_key|JSON }};

        // overrides default behavior and allows for shortcuts in inputs
        KEY.filter = function(event) {
            return true;
        };

        KEYBOARD_SHORTCUTS.push({
            shortcut: nav_key + "+s",
            handler: KS.gen_click_fn("#settings-save-btn .btn, #fd-save-button .btn"),
            desc: "Save application"
        });

        function gen_sidebar_elements() {
            return $('.sidebar .nav-list a:not(a:has(.icon-pencil))');
        }
        var sidebar_navigator = new KeyboardNavigator();
        sidebar_navigator.init({
            nav_key: 'option',
            action_key: 'enter',
            forward_keys: ['j', 'down'],
            back_keys: ['k', 'up'],
            element_list_generator: gen_sidebar_elements,
            reset_index: false
        });

        function gen_tab_elements() {
            return $("[data-toggle='tab']:not(.sidebar .nav-list a)");
        }
        var tab_navigator = new KeyboardNavigator();
        tab_navigator.init({
            name: 'tabs',
            nav_key: 'option',
            action_key: 'enter',
            element_list_generator: gen_tab_elements,
            reset_index: false
        });
    </script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block main_column %}
<div class="app-manager-content hide">
    <input type="hidden" name="edit_mode" value="{% if edit %}true{% else %}false{% endif %}" />
    {% if app %}
        {% if error %}
        <div id="error">
            {% ifequal error 'app_exists' %}
                {% trans "Oops! We can't create that application; you already have one with the same name." %}
            {% endifequal %}
        </div>
        {% endif %}

        {% block app-content %}{% endblock %}

    {% else %}
        <div style="padding: 1em; text-align: center">
            <p style="font-size: 1.5em">
                {% blocktrans %}
                Welcome to the CommCare Application Builder.
                Before you begin, check out the
                <a target="_blank" href="https://confluence.dimagi.com/display/commcarepublic/Beginner+Tutorial">Beginner Tutorial</a>.
                {% endblocktrans %}
            </p>
            <br>
            {% include 'app_manager/partials/new_app_buttons.html' %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block column_style %}{% endblock %}

{% block modals %}
    {{ block.super }}
    {% if app.is_deleted %}
    <div id="deleted-app-dialog" class="modal hide fade">
        <div class="modal-header"><h1>{% trans 'Oops! This application was deleted.' %}</h1></div>
        <div class="modal-body">
            <p>{% trans 'If you want your application back, click Restore.' %}</p>
        </div>
        <div class="modal-footer">
            <a href="{% url "undo_delete_app" domain app.id %}" class="post-link btn btn-primary">
                {% trans "Restore" %}
            </a>
            <a href="#" class="btn" data-dismiss="modal">
                {% trans "No thanks, get me out of here" %}
            </a>
        </div>
    </div>
    {% endif %}
{% endblock modals %}
