{% extends "app_manager/managed_app.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block title %}{{ form.name|clean_trans:langs }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'hqwebapp/js/lib/select2/select2.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'syntaxhighlighter/styles/shCoreDefault.css' %}"/>
    <script src="{% static 'syntaxhighlighter/scripts/shCore.js' %}"></script>
    <script src="{% static 'syntaxhighlighter/scripts/shBrushXml.js' %}"></script>
    <style>
        .casexml ul {
            margin-left: 15px;
        }
        .no-edit-select {
            font-weight: bold;
            color: #444;
        }
        input[type="radio"]{
            margin: 3px 5px 5px 0px;
        }
        #xform-links ul {
            display: block;
        }
        #xform-links li {
            display: inline-block;
            border-left: 1px solid #DDD;
            padding: 0 5px;
        }
        #xform-links li:first-child {
            border-left: none;
            padding-left: 0;
        }
        #xform-links a {
            display: inline-block;
            border: 1px solid transparent;
            padding: 5px 10px;
            vertical-align: middle;

            border-radius: 15px;
            -moz-border-radius: 15px;
        }
        #xform-links a:hover {
            border: 1px solid #BBB;
            background: #EEE;
            text-decoration: none;
        }
        #xform-links a:active {
            border: 1px solid #BBB;
            background: #DDD;
            text-decoration: none;
        }
        #xform-links a.disabled {
            pointer-events: none;
            cursor: default;
            color: #888;
        }
        .bigdrop {
            width: 600px !important;
        }
    </style>
    {% if app.application_version == '2.0' %}
    <style>
        #open-referral-action,
        #update-referral-action,
        #close-referral-action,
        #referral-preload-action {
            display: none;
        }
        .indent {
            margin-left: 15px;
        }
        .ko-no-edit-select {
            font-weight: bold;
            color: #444;
        }
        .code.ko-no-edit {
            font-weight: normal;
        }
    </style>
    {% endif %}
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'hqwebapp/js/lib/select2/select2.js' %}"></script>
    <script src="{% static 'style/lib/knockout_plugins/knockout_mapping.ko.min.js' %}"></script>
    <script src="{% static 'style/ko/knockout_bindings.ko.js' %}"></script>
    <script src="{% static 'style/lib/jquery/plugins/jquery.caret-1.5.2.min.js' %}"></script>

    {% if app.application_version == '2.0' %}
        <script src="{% static 'app_manager/js/case-knockout-bindings.js' %}"></script>
        <script src="{% static 'app_manager/js/case-config-utils.js' %}"></script>
        {% block js_extra %}
            <script src="{% static 'app_manager/js/case-config-ui-2.js' %}"></script>
        {% endblock %}
    {% else %}
        <script src="{% static 'app_manager/js/ejs.min.js' %}"></script>
        <script src="{% static 'app_manager/js/case-config-ui-1.js' %}"></script>
    {% endif %}
    <script src="{% static 'cloudcare/js/util.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    {% include "hqwebapp/ko/value-or-none-ui.html" %}
    {% if not is_user_registration %}
        {% include "app_manager/partials/nav_menu_media_js_common.html" %}
        {% include "app_manager/partials/nav_menu_media_js.html" with item=multimedia.menu %}
    {% endif %}
    {% if allow_form_workflow %}
        <script src="{% static 'app_manager/js/form_workflow.js' %}"></script>
    {% endif %}
    <script>
        $(function(){
            (function styleSourcePopup() {
                var $dialog = $(".xml-source");
                if ($dialog.hasClass('ui-dialog-content')) {
                    $dialog.dialog({
                        open: function () {
                            $dialog.dialog('option', 'height', $(window).height() -100);
                            $dialog.dialog('option', 'width', $(window).width() - 100);
                            $dialog.dialog('option', 'position', [50, 50]);
                        }
                    });
                } else {
                    window.setTimeout(styleSourcePopup, 1000);
                }
            }());
            (function doFileUploadCheck(){
                $("#xform_file_input").change(function(){
                    if ($(this).val()) {
                        $("#xform_file_submit").show();
                    } else {
                        $("#xform_file_submit").hide();
                    }
                }).trigger('change');
            }());
            (function configXFormSourceAjax(){
                $("#xform-source-opener").click(function(evt){
                    if (evt.shiftKey) {
                        $("#source-readonly").hide();
                        $("#source-edit").show();
                        $.get($(this).attr('href'), function (data) {
                            $("#xform-source-edit").text(data);
                        }, 'json');
                    } else {
                        $("#source-edit").hide();
                        $("#source-readonly").show();
                        $("#xform-source").text("Loading...");
                        $.get($(this).attr('href'), function (data) {
                            var brush = new SyntaxHighlighter.brushes.Xml();
                            brush.init({ toolbar: false });
                            // brush.getDiv seems to escape inconsistently, so I'm helping it out
                            data = data.replace(/&/g, '&amp;');
                            $("#xform-source").html(brush.getDiv(data));
                        }, 'json');
                    }
                });
            }());

        {% if not is_user_registration %}
            {% block case_management_js %}
                /* form_requires needs to be a knockout observable so that
                its value can be read by another UI (form filtering) */
                var form_requires = ko.observable({{ form.requires|JSON }});
            {% endblock %}

            {% if app.application_version == '2.0' %}
                {% if allow_form_filtering %}
                var putInRoot = {{ module.put_in_root|BOOL }};
                var formFilter = {{ form.form_filter|JSON }};
                var allOtherFormsRequireACase = {{ form.all_other_forms_require_a_case|BOOL }};
                var formFilterAllowed = ko.computed(function () {
                    return allOtherFormsRequireACase && form_requires() === 'case' && !putInRoot;
                });
                ko.applyBindings({
                        formFilter: ko.observable(formFilter),
                        formFilterAllowed: formFilterAllowed
                    },
                    $('#form-filter').get(0)
                );
                {% endif %}

                {% if allow_form_workflow %}
                    var labels = {};
                    labels[FormWorkflow.Values.DEFAULT] = "{% trans "Home Screen" %}";
                    labels[FormWorkflow.Values.ROOT] = "{% trans "Module Menu" %}";
                    labels[FormWorkflow.Values.MODULE] = "{% trans "Module:" %} {{ module.name|trans:langs }}";
                    labels[FormWorkflow.Values.PREVIOUS_SCREEN] = "{% trans "Previous Screen" %}";

                    var options = {
                        labels: labels,
                        workflow: '{{ form.post_form_workflow }}',
                    };
                {% endif %}

                {% if allow_form_workflow and request|toggle_enabled:"FORM_LINK_WORKFLOW"%}
                    labels[FormWorkflow.Values.FORM] = "{% trans "Link to other form" %}";
                    options.forms = {{ linkable_forms|JSON}}
                    options.formLinks = {{ form.form_links|JSON }}
                {% endif %}

                {% if allow_form_workflow %}
                    ko.applyBindings(new FormWorkflow(options), $('#form-workflow').get(0))
                {% endif %}

                ko.applyBindings({
                    auto_gps_capture: ko.observable({{ form.auto_gps_capture|JSON }})
                }, $('#auto-gps-capture').get(0));
                {% if request|toggle_enabled:'NO_VELLUM' %}
                ko.applyBindings({
                    no_vellum: ko.observable({{ form.no_vellum|JSON }})
                }, $('#no-vellum').get(0));
                {% endif %}

            {% endif %}

            {% if allow_cloudcare %}
                // tag the 'preview in cloudcare' button with the right url
                // unfortunately, has to be done in javascript
                var cloudCareUrl = getCloudCareUrl("{% url "cloudcare_main" domain '' %}", "{{ app.id }}", "{{ module.id }}", "{{ nav_form.id }}") + "?preview=true";
                $("#cloudcare-preview-url").attr("href", cloudCareUrl);
                $('#cloudcare-preview-url').click(function(e) {
                    ga_track_event('CloudCare', 'Click "Try in CloudCare"');
                });
            {% endif %}
        {% endif %}
        });
    </script>
    <script>
        $(function () {
            COMMCAREHQ.app_manager.setupValidation(
                '{% url "validate_form_for_build" domain app.id form.unique_id %}');
        });
    </script>
{% endblock %}

{% block form-view %}
    <div id="build_errors"></div>
    {% if edit and not is_user_registration %}
        <div class="delete-me">
            <form action="{% url "delete_form" domain app.id module.unique_id form.unique_id %}" method="post">
                <button type="submit" class="disable-on-submit btn btn-danger">
                    <i class="icon-trash"></i>
                    {% trans "Delete Form" %}
                </button>
            </form>
        </div>
    {% endif %}

    <h3>
        <i class="icon icon-file-alt"></i>
    {% if is_user_registration %}
        <span class="app-manager-title">{% trans "User Registration" %}</span>
    {% else %}
        <span class="app-manager-title variable-form_name">{{ form.name|html_trans:langs|safe }}</span>
    {% endif %}
    </h3>

    {% if edit %}
    <div class="btn-group">
        {% if not form.no_vellum %}
        <a id="edit_label" href="{% if is_user_registration %}
                                    {% url "user_registration_source" domain app.id %}
                                 {% else %}
                                    {% url "form_source" domain app.id module.id form.id %}
                                 {% endif %}
                                 "
                                 class="btn btn-primary">
            <i class="icon-pencil"></i>
            {% trans "Edit" %}
        </a>
        {% else %}
        <button class="btn btn-primary disabled" disabled="disabled"
                title="{% trans "Your administrator has locked this form from edits through the form builder"|force_escape %}">
            <i class="icon-pencil"></i>
            {% trans "Edit" %}
        </button>
        {% endif %}
        {% if allow_cloudcare %}
            {% if form.source and not is_user_registration %}
            <a id="cloudcare-preview-url" href="#" target="_blank" class="btn">
                <i class="icon-play"></i>
                {% trans "Try in CloudCare" %}
            </a>
            {% endif %}
        {% endif %}
    </div>
    <hr/>
    {% endif %}

    {% if is_user_registration %}
    <h4>{% trans "User Registration Properties" %}</h4>
    <div id="user_reg_home" class="config"></div>
    {% else %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#form-settings" data-toggle="tab">{% trans "Settings" %}</a>
            </li>
            <li>
                <a id="case-configuration-tab" href="#case-configuration" data-toggle="tab">
                    {% trans "Case Management" %}
                </a>
            </li>
            {% if form.form_type == 'advanced_form' and module.has_schedule %}
                 <li>
                     <a href="#visit-scheduler" data-toggle="tab">
                         {% trans "Visit Scheduler" %}
                     </a>
                 </li>
            {% endif %}
            <li>
                <a href="#advanced" data-toggle="tab">{% trans "Advanced" %}</a>
            </li>
        </ul>
        <div class="tab-content">
            {% if nav_form %}
                {% include "app_manager/partials/form_tab_settings.html" %}
            {% endif %}

            <div class="tab-pane" id="case-configuration">
                {% if form_errors or xform_validation_errored %}
                    <p class="alert alert-warning">
                        {% trans "There are errors in your form. Fix your form in order to view and edit Case Management." %}
                    </p>
                {% elif form.source %}
                    {% if app.application_version == '1.0' %}
                        <header class="clearfix">
                            <h4 class="pull-left">{% trans "Cases and Referrals" %}</h4>
                            <span class="hq-help-template"
                                  data-title="{% trans "Cases and Referrals" %}"
                                  data-content="{% trans "Cases give you a way to track patients, farms, etc. over time.  You can choose to save data from a form to the case, which will store the data locally on the phone to use later." %}"
                            ></span>
                        </header>
                        <div class="casexml" id="casexml_home">
                        </div>
                    {% else %}
                        <header class="clearfix">
                            <h4 class="pull-left">{% trans "Case Management" %}</h4>
                            <span class="hq-help-template"
                                data-title="{% trans "Case Management" %}"
                                data-content="{% trans "Cases give you a way to track patients, farms, etc. over time.  You can choose to save data from a form to the case, which will store the data locally on the phone to use later." %}"
                            ></span>
                        </header>
                        <div class="casexml" id="casexml_home">
                            {% block case_management_content %}
                                {% include 'app_manager/partials/case_config.html' %}
                            {% endblock %}
                        </div>
                    {% endif %}
                {% else %}
                    <p class="alert alert-warning">
                        {% trans "You have not created a form yet. Create a form in order to view and edit Case Management." %}
                    </p>
                {% endif %}
            </div>

            {% if form.form_type == 'advanced_form' and module.has_schedule %}
                {% include "app_manager/partials/form_tab_visit_scheduler.html" %}
            {% endif %}
            {% include "app_manager/partials/form_tab_advanced.html" %}
        </div>
    </div>
    {% endif %}
    <div id="questions"></div>
{% endblock %}

{% block modals %}{{ block.super }}
{% include "app_manager/partials/nav_menu_media_modals.html" %}
{% endblock modals %}
