{% extends "app_manager/managed_app.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}
{% block js %}{{ block.super }}
    <script src="{% static 'style/ko/knockout_bindings.ko.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/underscore-1.4.4.js' %}"></script>
    <script src="{% static 'hqwebapp/js/guidGenerator.js' %}"></script>
    <script src="{% static 'hqwebapp/js/key-value-mapping.js' %}"></script>
    <script src="{% static 'app_manager/js/graph-config.js' %}"></script>
    <script>
    if (window.toggles === undefined) {
        window.toggles = {};
    }
    if (window.feature_previews === undefined) {
        window.feature_previews = {};
    }
    window.feature_previews.ENUM_IMAGE = {{ request|feature_preview_enabled:"ENUM_IMAGE"|BOOL }};
    window.feature_previews.CALC_XPATHS = {{ request|feature_preview_enabled:"CALC_XPATHS"|BOOL }};
    window.toggles.MM_CASE_PROPERTIES = {{ request|toggle_enabled:"MM_CASE_PROPERTIES"|BOOL }};
    window.toggles.GRAPH_CREATION = {{ request|toggle_enabled:"GRAPH_CREATION"|BOOL }};
    window.toggles.CASE_LIST_CUSTOM_XML = {{ request|toggle_enabled:"CASE_LIST_CUSTOM_XML"|BOOL }};
    window.toggles.CASE_LIST_TILE = {{ request|toggle_enabled:"CASE_LIST_TILE"|BOOL }};
    </script>
    <script src="{% static 'app_manager/js/detail-screen-config.js' %}"></script>
{% endblock %}
{% block head %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'app_manager/css/graph-configuration.css' %}"/>
{% endblock %}
{% block js-inline %}{{ block.super }}
    {% include "hqwebapp/ko/value-or-none-ui.html" %}
    {% include "app_manager/partials/nav_menu_media_js_common.html" %}
    {% include "app_manager/partials/nav_menu_media_js.html" with item=multimedia.menu %}
    {% if case_list_form_options %}
        {% include "app_manager/partials/nav_menu_media_js.html" with item=multimedia.case_list_form qualifier='case_list_form_' %}
    {% endif %}
    {% include 'hqwebapp/key_value_mapping.html' %}
    {% include 'app_manager/partials/graph_configuration_modal.html' %}

    <script>
        $(function () {
            COMMCAREHQ.app_manager.module_view = {
                /* for sharing variables between essentially separate parts of the ui */
                requires_case_details: ko.observable({{ module.requires_case_details|BOOL }})
            };

            var details = {{ details|JSON }};
            var lang = {{ lang|JSON }};
            var langs = {{ app.langs|JSON }};
            var edit = {{ edit|JSON }};
            var saveUrl = "{% url "edit_module_detail_screens" domain app.id module.id %}";
            var parentModules = {{ parent_modules|JSON }};
            var fixtures = {{ fixtures|JSON }};

            for (var i = 0; i < details.length; i++) {
                var detail = details[i];
                var detailScreenConfig = DetailScreenConfig.init({
                    state: {
                        type: detail.type,
                        short: detail.short,
                        long: detail.long
                    },
                    sortRows: detail.sort_elements,
                    model: detail.model,
                    properties: detail.properties,
                    lang: lang,
                    langs: langs,
                    edit: edit,
                    saveUrl: saveUrl,
                    parentModules: parentModules,
                    childCaseTypes: detail.child_case_types,
                    fixtures: fixtures,
                    parentSelect: detail.parent_select,
                    contextVariables: COMMCAREHQ.app_manager.module_view
                });
                var $list_home = $("#" + detail.type + "-detail-screen-config-tab");
                var $detail_home = $("#" + detail.type + "-detail-screen-detail-config-tab");

                ko.applyBindings(detailScreenConfig, $list_home.get(0));
                ko.applyBindings(detailScreenConfig, $detail_home.get(0));
            }
        });
        $(function () {
            $('#case_type').on('textchange', function () {
                var value = $(this).val();
                var valueNoSpaces = value.replace(/ /g, '_');
                if (value !== valueNoSpaces) {
                    $(this).val(valueNoSpaces);
                }
                if (!valueNoSpaces.match(/^[\w-]+$/g)) {
                    $(this).closest('.control-group').addClass('error');
                    $('#case_type_error').css('display', 'inline');
                } else {
                    $(this).closest('.control-group').removeClass('error');
                    $('#case_type_error').css('display', 'none');
                }
            });

            if ($('#case-list-form').length) {
                var CaseListForm = function (data, formOptions, allowed) {
                    var self = this,
                        initialOption = data.form_id ? data.form_id : 'disabled',
                        formSet = !!data.form_id,
                        formMissing = formSet && !formOptions[data.form_id];

                    self.toggleState = function(active) {
                        active = active && allowed;
                        $('#case_list_form-label').toggle(active);
                        $('#case_list_media').toggle(active);
                    };

                    self.toggleMessage = function() {
                        self.messageVisible(!self.messageVisible());
                    };

                    self.buildOptstr = function(extra) {
                        self.caseListFormOptstr = _.map(formOptions, function (label, value) {
                            return {value: value, label: label};
                        });
                        if (extra) {
                            self.caseListFormOptstr.push({value: extra, label: '{% trans "Unknown Form (missing)" %}'});
                        }
                    };

                    self.allowed = allowed;
                    self.formMissing = ko.observable(formMissing);
                    self.messageVisible = ko.observable(false);
                    self.caseListForm = ko.observable(data.form_id ? data.form_id : null);
                    self.caseListFormProxy = ko.observable(initialOption);
                    self.caseListFormDisplay = formOptions[initialOption];

                    self.caseListFormProxy.subscribe(function (form_id) {
                        var disabled = form_id === 'disabled' || !formOptions[form_id];
                        self.caseListForm(disabled ? null : form_id);
                        self.toggleState(!disabled);
                    });

                    if (formMissing) {
                        var removeOld = self.caseListFormProxy.subscribe(function (oldValue) {
                            if (formMissing && oldValue === initialOption) {
                                // remove the missing form from the options once the user select a real form
                                self.buildOptstr();
                                removeOld.dispose();
                                self.formMissing(false);
                            }
                        }, null, "beforeChange");
                    }

                    self.toggleState(formSet && !formMissing);
                    self.buildOptstr(formMissing ? data.form_id : false);
                };
                var caseListForm = new CaseListForm(
                    {{ module.case_list_form|JSON }},
                    {{ case_list_form_options|JSON }},
                    {{ case_list_form_allowed|JSON }}
                );
                ko.applyBindings(caseListForm, $('#case-list-form').get(0));
                // Reset save button after bindings
                // see http://manage.dimagi.com/default.asp?145851
                var $form = $('#case-list-form').closest('form'),
                    $button = $form.find('.save-button-holder').data('button');
                $button.setStateWhenReady('saved');
            }
        });
        $(function () {
            COMMCAREHQ.app_manager.setupValidation(
                '{% url "validate_module_for_build" domain app.id module.id %}');
        });
    </script>
{% endblock %}

{% block form-view %}
    <div id="build_errors"></div>
    {% if edit %}
    <div class="delete-me">
        <form action="{% url "delete_module" domain app.id module.unique_id %}" method="post">
            <button type="submit" class="disable-on-submit btn btn-danger">
                <i class="icon-trash"></i>
                {% trans "Delete Module" %}
            </button>
        </form>
    </div>
    {% endif %}

    <h3>
        <i class="icon-folder-open"></i>
        <span class="app-manager-title variable-module_name">{{ module.name|html_trans:langs|safe }}</span>
    </h3>

<div class="tabbable">
<ul class="nav nav-tabs" id="module-view-tabs">
    <li class="active"><a href="#module-settings" data-toggle="tab">{% trans "Settings" %}</a></li>
    <li><a href="#case-settings" data-toggle="tab">{% trans "Case Management" %}</a></li>
    {% for detail in details %}
    <li>
        <a href="#{{ detail.type }}-detail-screen-config-tab" data-toggle="tab">
            {{ detail.label }}
        </a>
    </li>
    {% if detail.long %}
    <li>
        <a href="#{{ detail.type }}-detail-screen-detail-config-tab" data-toggle="tab">
            {{ detail.detail_label }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="module-settings">
        <form class="form-horizontal save-button-form" action="{% url "corehq.apps.app_manager.views.edit_module_attr" domain app.id module.id 'all' %}">
            <div class="save-button-holder clearfix"></div>
            <fieldset>
                <div class="control-group">
                    <label class="control-label">{% trans "Module Name" %}</label>
                    <div class="controls">
                        {% if edit %}
                            {% input_trans module.name langs %}
                        {% else %}
                            {{ module.name|html_trans:langs|safe }}
                        {% endif %}
                    </div>
                </div>
                {% block settings_fields %}
                 <div class="control-group">
                    <label class="control-label">
                        {% trans "Menu Mode" %}
                    </label>
                    <div class="controls">
                        {% if edit %}
                            <select type="text" name="put_in_root" data-value="{% if module.put_in_root %}true{% else %}false{% endif %}">
                                <option value="false">{% trans "Display module and then forms" %}</option>
                                <option value="true">{% trans "Display only forms" %}</option>
                            </select>
                        {% else %}
                            {% if not module.put_in_root %}
                                {% trans "Display module and then forms" %}
                            {% else %}
                                {% trans "Display only forms" %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="control-group commcare-feature" data-since-version="2.20">
                    <label class="control-label">
                        {% trans "Module filter" %}
                    </label>
                    <div class="controls">
                        {% if edit %}
                        <input type="text"
                            placeholder="{% trans "XPath expression" %}"
                            name="module_filter"
                            value="{{ module.module_filter }}"/>
                        {% else %}
                            {{ module.module_filter }}
                        {% endif %}
                    </div>
                </div>
                {% include "app_manager/partials/nav_menu_media.html" with ICON_LABEL="Icon" AUDIO_LABEL="Audio" %}
                {% endblock %}
            </fieldset>
        </form>
    </div>
    <div class="tab-pane" id="case-settings">
        <form class="form-horizontal save-button-form" action="{% url "corehq.apps.app_manager.views.edit_module_attr" domain app.id module.id 'all' %}">
            <div class="save-button-holder clearfix"></div>
            <fieldset>
                <legend>{% trans "Basic" %}</legend>
                <div class="control-group">
                    <label class="control-label">
                        {% trans "Case Type" %}
                        <span class="hq-help-template"
                              data-title="{% trans "Case Type" %}"
                              data-content="{% trans "e.g. &quot;pregnancy&quot;. The name for the type of case you are tracking. All cases you register in this module will have this case type, and only cases of this type will show in the case list. Modules with the same case type will have the same cases in their case lists." %}"
                                ></span>
                    </label>
                    <div class="controls">
                        {% if edit %}
                            <input class="code" type="text" id="case_type" name="case_type" value="{{ module.case_type }}" />
                            <span class="help-inline" id="case_type_error" style="display: none;">
                                {% trans "Case types can only include the characters a-z, 0-9, and _" %}
                            </span>
                        {% else %}
                            <code>{{ module.case_type }}</code>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        {% trans "Label for Cases" %}
                        <span class="hq-help-template"
                              data-title="{% trans "Label for Cases" %}"
                              data-content="{% trans "This label will appear at the top of the phone's case select screen." %}"
                        ></span>
                    </label>
                    <div class="controls">
                        {% if edit %}
                            <input type="text" name="case_label" value="{{ module.case_label|trans:langs }}" />
                        {% else %}
                            {{ module.case_label|trans:langs }}
                        {% endif %}
                    </div>
                </div>
                {% if app.application_version == '1.0' %}
                <div class="control-group">
                    <label class="control-label">
                        {% trans "Label for Referrals" %}
                    </label>
                    <div class="controls">
                        {% if edit %}
                            <input type="text" name="referral_label" value="{{ module.referral_label|trans:langs }}" />
                        {% else %}
                            {{ module.referral_label|trans:langs }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Advanced" %}</legend>
                {% include 'app_manager/partials/case_list_setting.html' with LABEL="Case List Menu Item" DESC="An item in the module's menu that lets you browse the case list without moving on to fill out a form." SLUG="case_list" case_list=module.case_list %}
                {% include 'app_manager/partials/case_list_form_setting.html' %}
                {% if app.application_version == '2.0' and module.module_type == 'basic' and request.project.survey_management_enabled %}
                    {% include 'app_manager/partials/case_list_setting.html' with LABEL="Task List" DESC="Whether to have an item in the module's menu that lets you see all of your delegated tasks. Only makes sense if you're using a delegation workflow." SLUG="task_list" case_list=module.task_list %}
                {% endif %}
            </fieldset>
        </form>
    </div>

    {% for detail in details %}
    <div class="tab-pane" id="{{ detail.type }}-detail-screen-config-tab">
        {% include 'app_manager/partials/case_list.html' %}
    </div>
    <div class="tab-pane" id="{{ detail.type }}-detail-screen-detail-config-tab">
        {% include 'app_manager/partials/case_detail.html' %}
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block modals %}{{ block.super }}
{% include "app_manager/partials/nav_menu_media_modals.html" %}
{% endblock modals %}
