{% extends "app_manager/managed_app.html" %}
{% load xforms_extras %}
{% load url_extras %}
{% load timezone_tags %}
{% load hq_shared_tags %}
{% load timezone_tags %}
{% load i18n %}
{% block js %}{{ block.super }}
    <script src="{% static 'style/lib/knockout_plugins/knockout_mapping.ko.min.js' %}"></script>
    <script src="{% static 'style/ko/knockout_bindings.ko.js' %}"></script>
    <script src="{% static 'app_manager/js/app_manager_utils.js' %}"></script>
    <script src="{% static 'app_manager/js/releases.js' %}"></script>
{% endblock %}
{% block js-inline %}{{ block.super }}
<script>
    $(function () {
       var help_text = {
           "Released": "This is used for automatically updating CommCare applications. If the \"Auto-update\" setting is " +
                   "set to Daily or Weekly, any application versions that are marked as released will update to the latest" +
                   "released version when checking for updates.",
       };
       $('.help_popover').popover({
                placement: $(this).data('placement') || 'left',
                title: function () {
                    return $(this).attr('data-help-key');
                },
                content: function () {
                    return help_text[$(this).attr('data-help-key')];
                }
            });
    });
    $(function () {
        // init releases
        {# The '___' in these urls will later be replaced by an app's _id ReleasesMain's url function #}
        var urls = {
            fetch: '{% url "paginate_releases" domain app.id %}',
            delete: '{% url "corehq.apps.app_manager.views.delete_copy" domain app.id %}',
            cloudcare: '{% url "cloudcare_get_app" domain '___' %}',
            jad: '{% url "corehq.apps.app_manager.views.download_jad" domain '___' %}',
            jar: '{% url "corehq.apps.app_manager.views.download_jar" domain '___' %}',
            ccz: '{% url "download_ccz" domain '___' %}',
            odk: '{% url "odk_install" domain '___' %}',
            odk_media: '{% url "odk_media_install" domain '___' %}',
            source: '{% url "download_index" domain '___' %}',
            release: '{% url "release_build" domain app.id '___' %}',
            newBuild: '{% url "corehq.apps.app_manager.views.save_copy" domain app.id %}',
            revertBuild: '{% url "corehq.apps.app_manager.views.revert_to_copy" domain app.id %}',
            currentVersion: '{% url "corehq.apps.app_manager.views.current_app_version" domain app.id %}',
            update_build_comment: '{% url "update_build_comment" domain app.id %}',
        };
        var o = {
            urls: urls,
            currentAppVersion: {% if app.version %}{{ app.version }}{% else %}-1{% endif %},
            recipient_contacts: {{ sms_contacts|JSON }}
        };
        var el = $('#releases-table');
        ko.applyBindings(new ReleasesMain(o), el.get(0));
        el.show();
    });

</script>
<script>
    function track_deploy_type(type) {
        ga_track_event('App Manager', 'Deploy Type', type);
    }
    $(function () {
        gaTrackLink('a.view-source-files-link', 'App Manager', 'Deploy Type', 'View Source Files');
    });
</script>
{% endblock %}

{% block title %}{{ app.name|html_name }}{% endblock %}

{% block head %}{{ block.super }}
<style>
    .build:hover {
        color: black !important;
    }
    .build.build-unreleased {
        color: #888;
    }
    .build.build-released {
    }
    .build.build-latest-release {
        background-color: #EFEFFF;
    }
    .build.build-latest-release .build-is-released:after{
        content: "Latest";
    }
    .nowrap {
        white-space: nowrap;
    }
    .pending {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
    }
    .pending {
        background-image: url("{% static 'hqwebapp/img/ajax-loader.gif' %}");
        background-size: 80%;
        background-position: center;
    }
    .pointer {
        cursor: pointer;
    }
    .released {
        color: #ffff00;
        text-shadow: 1px 0px #ffa500, -1px 0px #ffa500, 0px 1px #ffa500, 0px -1px #ffa500;
    }
    .build .edit-comment-pencil {
        display: none;
        margin-left: 5px;
        position: absolute;
    }
    .build:hover .edit-comment-pencil {
        display: inline;
    }
</style>
{% endblock %}
{% block form-view %}
    <div id="releases-table">
        <div class="alert alert-error" data-bind="visible: brokenBuilds">
            <p>
                <span class="icon icon-exclamation-sign"></span>
                {% blocktrans %}
                    One or more of your versions is broken, please make sure it is
                    not marked as released. Make a new version if needed, and update
                    any live deployments as soon as possible. 
                {% endblocktrans %}
            </p>
            <p><small>
                {% blocktrans %}
                    All new versions should work, so if problems persist, please
                    report the issue.
                {% endblocktrans %}
            </small></p>
        </div>
        {% if edit %}
        <button class="btn btn-primary" data-bind="
            click: makeNewBuild,
            attr: {disabled: !buildButtonEnabled() ? 'disabled' : undefined},
            css: {disabled: !buildButtonEnabled()}
        ">{% trans 'Make New Version' %}</button>

        <div id="build-errors-wrapper"></div>
        {% endif %}
        <table class="table">
            <tr>
                <th colspan="2">{% trans "Version" %}</th>
                <th colspan="2">{% trans "Date &amp; Time" %}</th>
                <th>{% trans "CommCare Version" %}</th>
                <th></th>
                {% if edit %}
                <th></th>
                {% endif %}
                <th>{% trans "Comment" %}</th>
                <th class="help_popover" data-help-key="Released">
                    <a href="#">{% trans "Released" %} <i class="icon icon-question-sign"></i></a>
                </th>

            </tr>
            <tbody data-bind="visible: buildState, css: {hide: false}" class="hide">
                <tr data-bind="visible: buildState() == 'pending'">
                    <td colspan="9">
                        <img src="{% static 'hqwebapp/img/ajax-loader.gif' %}"/>
                        <span class="label label-success">
                            {% trans "Please wait while your CommCare Application builds" %}
                        </span>
                    </td>
                </tr>
                <tr data-bind="visible: buildState() == 'error'">
                    <td colspan="9">
                        <div class="alert alert-danger">{% trans "Whoops, that didn't go through. Reload the page and click Make New Version to try again." %}</div>
                    </td>
                </tr>
            </tbody>
            <tbody data-bind="css: {hide: false}, template: {
                foreach: savedApps,
                afterAdd: function(elem) { $(elem).hide().fadeIn() },
                beforeRemove: function(elem) { if (elem.nodeType === 1) { $(elem).fadeOut(); } }
            }" class="hide">
                <tr class="build" data-bind="css: {
                    'build-released': is_released(),
                    'build-unreleased': !is_released(),
                    'build-latest-release': id() === $root.latestReleaseId(),
                    'error': build_broken
                }">
                    <td>
                        {% if edit %}
                        <a href="#" data-bind="
                            openModal: 'delete-build-modal-template',
                            visible: !_deleteState()
                        ">
                            <span class="icon icon-remove"></span>
                        </a>
                        <div class="pending" data-bind="
                            visible: _deleteState() == 'pending'
                        "></div>

                        <div class="icon icon-exclamation-sign" data-bind="
                            visible: _deleteState() == 'error'
                        "></div>
                        {% endif %}
                    </td>
                    <td class="nowrap" data-bind="text: version"></td>
                    <td class="nowrap" data-bind="text: built_on_date"></td>
                    <td class="nowrap" data-bind="text: built_on_time"></td>
                    <td class="nowrap">
                        <span data-bind="if: build_label(), text: build_label()"></span>
                        <p data-bind="text: jar_path"></p>
                        <h6 data-bind="if: !built_with.signed()">{% trans "Unsigned Jar" %}</h6>
                    </td>
                    <td class="nowrap">
                        <div class="btn-group">
                            <a class="btn" data-bind="
                                openModal: 'deploy-build-modal-template',
                                css: {'btn-primary': !build_broken(), 'btn-danger': build_broken},
                                click: function() { ga_track_event('App Manager', 'Deploy Button', '{{ app.id }}'); }
                            ">
                                <span class="icon icon-exclamation-sign" data-bind="visible: build_broken"></span>
                                {% trans "Deploy" %}
                            </a>
                        </div>
                    </td>
                    {% if edit %}
                    <td>
                        <button class="btn" data-bind="
                            openModal: 'revert-build-modal-template',
                            visible: version() !== $root.currentAppVersion()
                        ">{% trans "Revert" %}</button>
                    </td>
                    {% endif %}
                    <td>
                        <div data-bind="visible: !editing_comment()">
                            <b data-bind="visible: comment_user_name, text: comment_user_name"></b>
                            <span data-bind="text: build_comment"></span>
                            <b data-bind="visible: !build_comment()">{% trans "(No Comment)" %}</b>
                            <a class="edit-comment-pencil" href="#"
                               data-bind="click: function () {editing_comment(true);}">
                                <span class="icon-pencil"></span>
                            </a>
                        </div>
                        <div data-bind="visible: editing_comment()">
                            <input type="text" data-bind="value: new_comment"></input>
                            <a href="#" data-bind="click: submit_new_comment, visible: !pending_comment_update()">
                                <span class="icon-ok"></span>
                            </a>
                            <a href="#" data-bind="click: function () {editing_comment(false);}, visible: !pending_comment_update()">
                                <span class="icon-remove"></span>
                            </a>
                            <span data-bind="visible: pending_comment_update()">
                                <img src="{% static 'hqwebapp/img/ajax-loader.gif' %}"/>
                            </span>
                        </div>
                        <div data-bind="visible: comment_update_error()" class="alert alert-error">
                            {% trans "Error updating comment.  Please try again" %}
                        </div>
                    </td>
                    <td class="build-is-released">
                        <div data-bind="starred: is_released{% if edit %}, click: $root.toggleRelease{% endif %}"></div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="9">
                        <div data-bind="visible: fetchState() === 'pending', css: {hide: false}" class="hide">
                            <img src="{% static 'hqwebapp/img/ajax-loader.gif' %}"/>
                        </div>
                        <div data-bind="visible: fetchState() === 'error', css: {hide: false}" class="hide">
                            <div class="alert alert-error">
                                {% trans "Whoops, we couldn't get those versions for you. Could you try that again?" %}
                            </div>
                        </div>
                        <div data-bind="visible: fetchState() !== 'pending' && !doneFetching(), css: {hide: false}" class="hide">
                            <a href="#" class="btn" data-bind="click: getMoreSavedApps">{% trans "View More" %}</a>
                        </div>
                        <div data-bind="visible: doneFetching() && !savedApps().length, css: {hide: false}" class="hide">
                            <div class="alert alert-info">
                                {% trans 'Use the <strong>Make New Version</strong> button to create and deploy the latest version of your application' %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <script type="text/html" id="delete-build-modal-template">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3>{% trans "Delete Version?" %}</h3>
            </div>
            <div class="modal-body">
                <p>{% trans "Are you sure you want to delete this version" %} (<span data-bind="text: version"></span>)?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                <a class="btn btn-danger" href="#" data-bind="click: $root.deleteSavedApp" data-dismiss="modal">{% trans "Delete Version" %}</a>
            </div>
        </script>
        <script type="text/html" id="revert-build-modal-template">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3>{% trans "Revert to Version?" %}</h3>
            </div>
            <div class="modal-body">
                <p>{% blocktrans %}
                 Are you sure you want to revert to version <span data-bind="text: version"></span>?</p>
                {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" data-bind="click: $root.revertSavedApp" data-dismiss="modal">{% trans "Revert" %}</a>
            </div>
        </script>
        <script type="text/html" id="deploy-build-modal-template">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3>{% trans "Deploying version" %} <span data-bind="text: version"></span></h3>
            </div>
            <div class="modal-body">
                <div class="accordion" data-bind="bootstrapCollapse: true">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-bind="
                                click: function() { track_deploy_type('Download to Java Phone'); },
                            ">
                                {% trans "Download to Java Phone" %}
                            </a>
                        </div>
                        <div class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ol>
                                    <li>
                                        {% trans "Download <strong>both</strong> of the following files:" %}
                                        <p><a data-bind="attr: {href: $root.url('jad', id)}">{% trans "Download" %} CommCare.jad</a></p>
                                        <p><a data-bind="attr: {href: $root.url('jar', id)}">{% trans "Download" %} CommCare.jar</a></p>
                                    </li>
                                    <li>
                                        {% trans "For help on how to install, see" %}
                                        <a target="_blank" href="https://help.commcarehq.org/display/commcarepublic/CommCare+for+Feature+Phones">{% trans "Set Up Feature Phones" %}</a>.
                                    </li>
                                    <li>
                                        {% trans "If you have any issues with the installation, please refer to" %}
                                        <a target="_blank" href="https://help.commcarehq.org/display/commcarepublic/Troubleshooting">{% trans "Troubleshooting Phone Problems" %}</a>.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-bind="
                                click: function() { track_deploy_type('Download to Android'); },
                            ">
                                {% trans "Download to Android" %}
                            </a>
                        </div>
                        <div class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div data-bind="bootstrapTabs: true">
                                    <div class="tabbable">
                                        <ul class="nav nav-pills">
                                            <li class="active">
                                                <a>{% trans "Online Install" %}</a>
                                            </li>
                                            <li>
                                                <a>{% trans "Offline Install" %}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane">
                                                <label class="checkbox" data-bind="visible: allow_media_install">
                                                    <input type="checkbox" data-bind="checked: include_media, enable: mm_supported()">
                                                    {% trans "Include Multimedia" %}
                                                    <span data-bind="visible: !mm_supported()" class="label">
                                                        {% trans "Only supported for versions made after 2013-10-15" %}
                                                    </span>
                                                </label>
                                                <p>
                                                    <span data-bind="visible: get_short_odk_url()">
                                                        {% blocktrans %}
                                                            Install by typing the following URL
                                                            into the application install screen:
                                                        {% endblocktrans %}
                                                        <code class="bitly"><a data-bind="
                                                            attr: {
                                                                href: get_short_odk_url(),
                                                                title: get_short_odk_url_phonetic()
                                                            },
                                                            text: get_short_odk_url()
                                                        "></a></code>
                                                    </span>
                                                    <span class="text-warning" data-bind="visible: !get_short_odk_url()">
                                                        {% trans "No short code available; try making another version." %}
                                                    </span>
                                                </p>
                                                <p>
                                                    {% trans "Or" %}
                                                    <a href="#" data-bind="
                                                        openJqm: get_odk_install_url,
                                                        click: function() { ga_track_event('App Manager', 'Show Bar Code', '-'); }
                                                    ">
                                                    {% trans "scan the bar code" %}
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="tab-pane">
                                                <div data-bind="ifnot: COMMCAREHQ.app_manager.versionGE(build_spec.version(), '2.13.0')">
                                                    Upgrade to CommCare 2.13 to use this feature
                                                </div>
                                                <div data-bind="if: COMMCAREHQ.app_manager.versionGE(build_spec.version(), '2.13.0')">
                                                    <ol>
                                                        <li>
                                                            {% trans "Download" %}
                                                            <a data-bind="attr: {href: $root.url('ccz', id)}">CommCare.ccz</a>
                                                        </li>
                                                        <li>
                                                            {% trans "Transfer it to your Android phone's file system" %}
                                                        </li>
                                                        <li>
                                                            {% trans "From CommCare ODK's install screen menu, select Offline Install" %}
                                                        </li>
                                                        <li>
                                                            {% trans "You'll be prompted to select this file from your phone's file system and install will begin" %}
                                                        </li>
                                                    </ol>
                                                    <div>
                                                        {% trans "Note: Offline install automatically installs all multimedia included in your form. All subsequent remote updates will also include multimedia which could require a lot of data." %}
                                                        {% trans "See the <a href='https://confluence.dimagi.com/display/commcarepublic/Installing+CommCareODK+Android#InstallingCommCareODKAndroid-C.OfflineInstall'>Help Site</a> for more info." %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if can_send_sms %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-bind="
                                click: function() { track_deploy_type('Send to phone via SMS'); },
                            ">
                                {% trans "Send to phone via SMS" %}
                            </a>
                        </div>

                        <div class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div data-bind="bootstrapTabs: true">
                                    <div class="tabbable">
                                        <ul class="nav nav-pills">
                                            <li class="active">
                                                <a>{% trans "Send Java Phone app" %}</a>
                                            </li>
                                            <li>
                                                <a>{% trans "Send Android app" %}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" data-bind="foreach: [short_url(), short_odk_url()]">
                                            <div class="tab-pane">
                                                <div data-bind="visible: $data">
                                                    <label class="checkbox" data-bind="visible: $parent.allow_media_install && $parent.get_short_odk_media_url && $index() === 1">
                                                        <input type="checkbox" data-bind="checked: $parent.include_media, enable: $parent.mm_supported()">
                                                        {% trans "Include Multimedia" %}
                                                        <span data-bind="visible: !$parent.mm_supported()" class="label">
                                                            {% trans "Only supported for versions made after 2013-10-15" %}
                                                        </span>
                                                    </label>
                                                    <form method="post" action="{% url "corehq.apps.sms.views.send_to_recipients" domain %}">
                                                        <label>{% trans "Send to:" %}</label>
                                                        <input type="text" name="recipients" data-bind="multiTypeahead: $root.recipients" value=""/>
                                                        <br />
                                                        <textarea class="bitly" name="message" data-bind="text: 'Update to CommCare: ' +
                                                            $parent.sms_url($index()) + ' (&quot;' + $parent.short_name() + '&quot; v. ' + $parent.version() + ')'"></textarea>
                                                        <br />
                                                        <input type="submit" class="btn" value="Send"/>
                                                    </form>
                                                </div>
                                                <div data-bind="visible: !$data">
                                                    <span class="label label-important">
                                                      {% trans "No URL was found for this app, try rebuilding." %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if multimedia %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" href="#{{ saved_app.id }}_multimedia" data-toggle="collapse" data-target="#{{ saved_app.id }}_multimedia" data-bind="
                                    click: function() { track_deploy_type('Download Multimedia'); },
                                ">
                                    {% trans 'Download Multimedia' %}
                                </a>
                            </div>
                            <div class="accordion-body collapse" id="{{ saved_app.id }}_multimedia">
                                <div class="accordion-inner">
                                    {% include 'hqmedia/partials/multimedia_zip_notice.html' %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle view-source-files-link" data-bind="
                                    attr: {href: $root.url('source', id)},
                                ">
                                    {% trans "View Source Files" %}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </script>
    </div>
{% endblock %}
